<div class="p-grid p-formgrid row">
  <div class="p-field p-col-12">
    <div class="p-d-flex p-ai-end">

      <p-skeleton height="1.75rem" width="3rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton height="3.5rem" width="5rem"  styleClass="p-mr-2"></p-skeleton>
      <p-skeleton height="5.25rem" width="5rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton height="7rem" width="5rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton height="8.75rem" width="5rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton height="10.5rem" width="5rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton height="12.5rem" width="5rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton height="14rem" width="5rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton height="15.75rem" width="5rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton height="17.5rem" width="5rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton height="19.25rem" width="5rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton height="21rem" width="5rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton height="22.75rem" width="5rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton height="24.5rem" width="5rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton height="26.25rem" width="5rem" styleClass="p-mr-2"></p-skeleton>
      <p-skeleton height="28rem" width="5rem" styleClass="p-mr-2"></p-skeleton>
      <!-- <p-skeleton height="29.75rem" width="5rem" styleClass="p-mr-2"></p-skeleton> -->

    </div>
  </div>
</div>
