<div *ngIf="!is_verified" class="card-body">
  <div class="pb-2" style="margin-top: -10%">
    <h5 class="card-title text-center pb-0 fs-4">Verification Code</h5>
  </div>
  <form
    name="form"
    (ngSubmit)="f.form.valid && verifyOTP()"
    #f="ngForm"
    class="row g-3 p-fluid"
    novalidate
  >
    <div class="col-11">
      <label for="counter" class="text-center"
        >Check your SMS messages and enter the verification code we sent you
        within {{ counter }} minutes.</label
      >
    </div>

    <div class="field">
      <p-knob
        [(ngModel)]="count"
        name="count"
        [size]="200"
        [min]="0"
        [readonly]="false"
      ></p-knob>
    </div>

    <div class="p-field p-col-11 p-ml-2">
      <span class="p-float-label">
        <input
          id="float-input"
          type="text"
          pInputText
          name="otp"
          [(ngModel)]="otp"
          [required]="true"
          #otps="ngModel"
          [class.is-invalid]="otps.invalid && otps.touched"
        />
        <label for="float-input">OTP</label>
      </span>

      <small class="text-danger" [class.d-none]="otps.valid || otps.untouched"
        >OTP is required<br
      /></small>
    </div>

    <div *ngIf="!loading" class="col-12 text-center">
      <button
        [disabled]="f.form.invalid"
        class="btn btn-primary w-100"
        type="submit"
      >
        Verify
      </button>
    </div>
    <div *ngIf="loading" class="col-12">
      <button class="btn btn-primary w-100" type="button" disabled>
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Verifiying . . .
      </button>
    </div>
  </form>
</div>

<div *ngIf="is_verified" class="card-body">
  <div class="pb-2" style="margin-top: -10%">
    <h5 class="card-title text-center pb-0 fs-4">Change Password</h5>
  </div>

  <form
    name="form"
    (ngSubmit)="password.form.valid && changePassword()"
    #password="ngForm"
    class="row g-3 p-fluid"
    novalidate
  >
    <div class="col-11">
      <label for="counter" class="text-center"
        >Your identity has been successfully verified. We recommend that you to
        change your password by using strong combination of letters, numbers,
        and special characters.</label
      >
    </div>

    <div class="field p-col-11 text-left">
      <label for="password">
        <strong class="text-danger">* </strong>Password</label
      >
      <p-password
        [(ngModel)]="passwordData.password"
        #password1="ngModel"
        name="password"
        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$! %*? &])[A-Za-z\d$@$! %*? &]{8,}"

        [class.is-invalid]="
          (password1.invalid && password1.touched && confirmPassword.touched) ||
          passwordData.confirmPassword !== passwordData.password
        "
        [required]="true"
      >
        <ng-template pTemplate="header">
          <h6>Pick a password</h6>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <p class="mt-2">Suggestions</p>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one numeric</li>
            <li>Minimum 8 characters</li>
          </ul>
        </ng-template>
      </p-password>
    </div>

    <div class="p-field p-col-11 text-left">
      <label for="confirmPassword">
        <strong class="text-danger">* </strong>Confirm Password</label
      >
      <p-password
        [(ngModel)]="passwordData.confirmPassword"
        #confirmPassword="ngModel"
        name="confirmPassword"
        [class.is-invalid]="
          (confirmPassword.invalid && confirmPassword.touched) ||
          (passwordData.confirmPassword !== passwordData.password &&
            password1.touched)
        "
        [feedback]="false"
        [required]="true"
      ></p-password>
      <small
        *ngIf="
          confirmPassword.invalid &&
          (password1.dirty || password1.touched) &&
          confirmPassword.touched
        "
        class="text-danger d-block"
      >
        Please confirm your password.
      </small>
      <small
        *ngIf="
          passwordData.confirmPassword !== passwordData.password &&
          (confirmPassword.dirty || confirmPassword.touched)
        "
        class="text-danger d-block"
      >
        Passwords do not match.
      </small>
    </div>

    <div *ngIf="!loading" class="col-12 text-center">
      <button
        [disabled]="
          password.form.invalid ||
          passwordData.confirmPassword !== passwordData.password
        "
        class="btn btn-primary w-100"
        type="submit"
      >
        Change Password
      </button>
    </div>
    <div *ngIf="loading" class="col-12">
      <button class="btn btn-primary w-100" type="button" disabled>
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Changing . . .
      </button>
    </div>
  </form>
</div>
