<div class="row mt-3">
  <div class="col-md-10 ml-2 mt-4">
    <ngx-skeleton-loader animation="progress-dark"
      [theme]="{ width: '40%','border-radius': '40px' ,height: '20px'}"></ngx-skeleton-loader>
  </div>
  <div class="col-md-3 mt-2" style="margin-left:25%">
    <ngx-skeleton-loader animation="progress-dark" [theme]="{ width: '60%',height: '15px', 'border-radius': '40px' }"
      ></ngx-skeleton-loader>
  </div>
  <div class="col-md-3 mt-2">
    <ngx-skeleton-loader animation="progress-dark"
      [theme]="{ width: '60%',height: '15px','border-radius': '40px' }"></ngx-skeleton-loader>
  </div>
  <div class="col-md-3 mt-2">
    <ngx-skeleton-loader animation="progress-dark"
      [theme]="{ width: '60%',height: '15px','border-radius': '40px' }"></ngx-skeleton-loader>
  </div>
  <div class="col-md-4 mt-3" style="margin-left:40%">
    <ngx-skeleton-loader animation="progress-dark" [theme]="{ width: '60%','border-radius': '40px' ,height: '15px'}"
   ></ngx-skeleton-loader>
  </div>
  <div class="col-md-12 ml-4 "  >
    <ngx-skeleton-loader animation="progress-dark" appearance="circle"
      [theme]="{ width: '60%', height: '450px' }" style="margin-left: 12%;"></ngx-skeleton-loader>
  </div>
</div>
