<div class="row mt-3">
  <div class="col-md-10 ml-4 mt-3">
    <ngx-skeleton-loader animation="progress-dark" [theme]="{ width: '60%','border-radius': '40px' ,height: '30px'}"></ngx-skeleton-loader>
  </div>
  <div class="col-md-4 ml-3">
    <ngx-skeleton-loader  animation="progress-dark" appearance="circle" [theme]="{ width: '60px', height: '60px' }"></ngx-skeleton-loader>
  </div>
  <div class="col-md-6 mt-4" style="margin-left:-50px;">
    <ngx-skeleton-loader animation="progress-dark" [theme]="{width: '40%','border-radius': '40px' , height: '25px'}"></ngx-skeleton-loader>
  </div>
</div>
