<div class="row mt-3">
<div class="col-md-10 ml-4 mt-3">
    <ngx-skeleton-loader
      [theme]="{ width: '60%','border-radius': '40px' ,height: '30px'}" animation="progress-dark"></ngx-skeleton-loader>
  </div>
  <div class="col-md-4 ml-3">
    <ngx-skeleton-loader appearance="circle" animation="progress-dark"
      [theme]="{ width: '62%', height: '62px' }"></ngx-skeleton-loader>
  </div>
  <div class="col-md-6 mt-3" style="margin-left:-50px;">
    <ngx-skeleton-loader
    animation="progress-dark"  [theme]="{width: '70%','border-radius': '40px' , height: '25px'}"></ngx-skeleton-loader>
  </div>
  <div class="col-md-7" style="margin-left:100px;margin-top:-30px">
    <ngx-skeleton-loader
    animation="progress-dark"   [theme]="{width: '50%','border-radius': '40px' ,height: '15px'}"></ngx-skeleton-loader>
  </div>
</div>
