<div class="row mt-3">
  <div class="col-md-10 mt-4 " style="margin-left: 2%;">
    <ngx-skeleton-loader animation="progress-dark"
      [theme]="{width:'50%', height: '30px', 'border-radius': '40px' }"></ngx-skeleton-loader>
  </div>
  <div class="row g-3">
    <div class="col-md-2" style="margin-left :20%;;">
      <ngx-skeleton-loader animation="progress-dark"
        [theme]="{width:'100%', height: '15px', 'border-radius': '40px' }"></ngx-skeleton-loader>
    </div>
    <div class="col-md-2">
      <ngx-skeleton-loader animation="progress-dark"
        [theme]="{width:'100%', height: '15px', 'border-radius': '40px'  }"></ngx-skeleton-loader>
    </div>
    <div class="col-md-2"><ngx-skeleton-loader animation="progress-dark"
        [theme]="{width:'100%', height: '15px', 'border-radius': '40px'  }"></ngx-skeleton-loader>
    </div>
  </div>

  <div class="col-md-12 ">
    <ngx-skeleton-loader animation="progress-dark" [theme]="{width:'3%',  height: '200px', 'border-radius': '40px'  }"
      style="margin-left: 5%"></ngx-skeleton-loader>
    <ngx-skeleton-loader animation="progress-dark" [theme]="{ width:'3%', height: '250px', 'border-radius': '40px'   }"
      style="margin-left: 4%;"></ngx-skeleton-loader>
    <ngx-skeleton-loader animation="progress-dark" [theme]="{  width:'3%',  height: '300px','border-radius': '40px'   }"
      style="margin-left: 4%;"></ngx-skeleton-loader>
    <ngx-skeleton-loader animation="progress-dark" [theme]="{ width:'3%',  height: '350px', 'border-radius': '40px'   }"
      style="margin-left: 4%;"></ngx-skeleton-loader>
    <ngx-skeleton-loader animation="progress-dark" [theme]="{  width:'3%',  height: '300px', 'border-radius': '40px'   }"
      style="margin-left: 4%;"></ngx-skeleton-loader>
    <ngx-skeleton-loader animation="progress-dark" [theme]="{ width:'3%',  height: '400px' , 'border-radius': '40px'  }"
      style="margin-left: 4%;"></ngx-skeleton-loader>
    <ngx-skeleton-loader animation="progress-dark" [theme]="{width:'3%',  height: '200px' , 'border-radius': '40px' }"
      style="margin-left: 4%;"></ngx-skeleton-loader>

    <ngx-skeleton-loader animation="progress-dark" [theme]="{width:'3%',  height: '200px', 'border-radius': '40px'  }"
      style="margin-left: 4%;"></ngx-skeleton-loader>
    <ngx-skeleton-loader animation="progress-dark" [theme]="{  width:'3%',  height: '300px','border-radius': '40px'   }"
      style="margin-left: 2%;"></ngx-skeleton-loader>
  </div>
  <div class="col-md-11 ml-3">
    <ngx-skeleton-loader animation="progress-dark" appearance="line"></ngx-skeleton-loader>
  </div>
</div>
