<div class="row mt-3">

  <div class="col-md-10 ml-4 mt-4">
    <ngx-skeleton-loader animation="progress-dark"
      [theme]="{ width: '40%','border-radius': '40px' ,height: '20px'}"></ngx-skeleton-loader>
  </div>
  <div class="col-md-6 mt-4">
    <ngx-skeleton-loader animation="progress-dark" [theme]="{ width: '80%','border-radius': '40px' ,height: '15px'}"
      style="margin-left:20%"></ngx-skeleton-loader>
  </div>
  <div class="col-md-6 mt-4">
    <ngx-skeleton-loader animation="progress-dark" [theme]="{ width: '80%','border-radius': '40px' ,height: '15px'}"
      style="margin-left:-15%"></ngx-skeleton-loader>
  </div>
  <div class="col-md-6 ">
    <ngx-skeleton-loader animation="progress-dark" [theme]="{ width: '100%','border-radius': '40px' ,height: '15px'}"
      style="margin-left:50%"></ngx-skeleton-loader>
  </div>

  <div class="col-md-8 ml-4">
    <ngx-skeleton-loader animation="progress-dark" appearance="circle"
      [theme]="{ width: '120%', 'border-radius': '10', height: '270px' }"></ngx-skeleton-loader>
  </div>
</div>
