<main id="main" class="main">
  <p-toast></p-toast>
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/"><i class="bi bi-house-door"></i></a>
        </li>
        <li class="breadcrumb-item active">Currency</li>
      </ol>
    </nav>
  </div>
  <p-card class="p-m-2">
    <p-toolbar styleClass="p-mb-4">
      <ng-template pTemplate="right">
        <div class="flex">
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-file"
            (click)="dt.exportCSV()"
            class="mr-2"
            pTooltip="CSV"
            tooltipPosition="bottom"
          ></button>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-file-excel"
            (click)="exportExcel()"
            class="p-button-success mr-2"
            pTooltip="XLS"
            tooltipPosition="bottom"
          ></button>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-file-pdf"
            (click)="exportPdf()"
            class="p-button-warning mr-2"
            pTooltip="PDF"
            tooltipPosition="bottom"
          ></button>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-filter"
            (click)="dt.exportCSV({ selectionOnly: true })"
            class="p-button-info ml-auto"
            pTooltip="Selection Only"
            tooltipPosition="bottom"
          ></button>
        </div>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="currency"
      [rows]="10"
      [paginator]="true"
      [loading]="loading"
      [globalFilterFields]="['currency_code', 'equivalent_birr']"
      [(selection)]="selectedCurrency"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h5 class="p-m-0">Currency</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              #searchData
              (input)="dt.filterGlobal(searchData.value, 'contains')"
              placeholder="Search..."
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th style="min-width: 6rem">
            <div class="flex justify-content-center align-items-center">
              Currency Type
              <p-columnFilter
                type="text"
                field="currency_code"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>

          <th style="min-width: 5rem">
            <div class="flex justify-content-center align-items-center">
              Equivalent Birr
              <p-columnFilter
                type="numeric"
                field="equivalent_birr"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-c>
        <tr>
          <td>
            <p-tableCheckbox [value]="c"></p-tableCheckbox>
          </td>
          <td>{{ c.currency_code }}</td>
          <td>{{ c.equivalent }}</td>
        </tr>
      </ng-template>

      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are
          {{ currency ? currency.length : 0 }} currencies.
        </div>
      </ng-template>
    </p-table>
  </p-card>
</main>
