<main>
    <div class="container">
        <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center text-center">
                        <h2>Token Invalid or expired.</h2>
                        <img src="assets/img/not-found.svg" class="img-fluid" alt="Page Not Found">
                        <a class="btn btn-secondary mt-5" routerLink="/">Go Home</a> 
                        <!-- <div class="credits"> Love by <a href="https://freeetemplates.com/">FreeeTemplates</a></div> -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>