<div class="area">
  <p-toast></p-toast>
  <main>
    <div class="container">
      <section
        class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div
              class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center"
            >
              <div class="card mb-3" style="z-index: 2">
                <div class="d-flex justify-content-center">
                  <a routerLink="/" class="d-flex align-items-center w-auto"
                    ><img
                      class="w-100 text-center awash-bank-login-logo"
                      src="assets/img/Awash_Bank_Final_logo.jpg"
                      alt="Awash Bank AFRFMS"
                    />
                  </a>
                </div>
                <div
                  *ngIf="!account_created; else afterAccountCreated"
                  class="card-body"
                  style="margin-top: -13%"
                >
                  <div class="pb-2">
                    <h5 class="card-title text-center fs-4">
                      Create an Account
                    </h5>
                    <p class="text-center small">
                      Enter your personal details to create account
                    </p>
                  </div>
                  <!-- <form class="row g-3 needs-validation" novalidate> -->
                  <form ngNativeValidate #userForm="ngForm" class="p-fluid">
                    <!-- <div class="p-formgrid p-grid"> -->
                    <div class="p-field">
                      <label for="first_name">
                        <strong class="text-danger">*</strong>First Name</label
                      >
                      <input
                        type="text"
                        #first_name="ngModel"
                        [class.is-invalid]="
                          first_name.invalid && first_name.touched
                        "
                        pInputText
                        id="first_name"
                        [(ngModel)]="user.first_name"
                        name="first_name"
                      />
                      <small
                        class="text-danger"
                        [class.d-none]="
                          first_name.valid || first_name.untouched
                        "
                        >First Name is required<br
                      /></small>
                    </div>
                    <div class="p-field">
                      <label for="middle_name">
                        <strong class="text-danger">*</strong>Middle Name</label
                      >
                      <input
                        type="text"
                        #middle_name="ngModel"
                        [class.is-invalid]="
                          middle_name.invalid && middle_name.touched
                        "
                        pInputText
                        id="middle_name"
                        [(ngModel)]="user.middle_name"
                        name="middle_name"
                      />
                      <small
                        class="text-danger"
                        [class.d-none]="
                          middle_name.valid || middle_name.untouched
                        "
                        >Middle Name is required<br
                      /></small>
                    </div>
                    <div class="p-field">
                      <label for="last_name">
                        <strong class="text-danger">*</strong>Last Name</label
                      >
                      <input
                        type="text"
                        #last_name="ngModel"
                        [class.is-invalid]="
                          last_name.invalid && last_name.touched
                        "
                        pInputText
                        id="last_name"
                        [(ngModel)]="user.last_name"
                        name="last_name"
                      />
                      <small
                        class="text-danger"
                        [class.d-none]="last_name.valid || last_name.untouched"
                        >Last Name is required<br
                      /></small>
                    </div>
                    <!-- </div> -->

                    <div class="p-field">
                      <label class="p-mb-3"
                        ><strong class="text-danger">*</strong> Gender</label
                      >
                      <div class="p-formgrid p-grid">
                        <div class="p-field-radiobutton p-col-3">
                          <p-radioButton
                            id="male"
                            name="gender"
                            value="Male"
                            #gender="ngModel"
                            required="true"
                            [class.is-invalid]="
                              gender.invalid && gender.touched
                            "
                            [(ngModel)]="user.gender"
                          ></p-radioButton>
                          <label for="male">Male</label>
                        </div>
                        <div class="p-field-radiobutton p-col-3">
                          <p-radioButton
                            id="female"
                            name="gender"
                            value="Female"
                            #gender="ngModel"
                            required="true"
                            [class.is-invalid]="
                              gender.invalid && gender.touched
                            "
                            [(ngModel)]="user.gender"
                          ></p-radioButton>
                          <label for="female">Female</label>
                        </div>
                        <small
                          class="text-danger"
                          [class.d-none]="gender.valid || gender.untouched"
                          >Gender is required<br
                        /></small>
                      </div>
                    </div>

                    <div class="p-field">
                      <label for="phone_number">
                        <strong class="text-danger">*</strong>Phone
                        Number</label
                      >
                      <input
                        type="tel"
                        #phone_number="ngModel"
                        [class.is-invalid]="
                          phone_number.invalid && phone_number.touched
                        "
                        pInputText
                        pattern="(\+251|0)(9|7)\d{8}"
                        id="phone_number"
                        (input)="checkPhoneNumberStatus($event)"
                        [(ngModel)]="user.phone_number"
                        name="phone_number"
                        required="true"
                      />
                      <!-- <small
                          class="text-danger"
                          [class.d-none]="phone_number.valid || phone_number.untouched"
                          >Phone Number is required<br
                        /></small> -->

                      <div *ngIf="phone_number_status">
                        <small class="text-danger">
                          Phone Number Already Exists
                        </small>
                      </div>
                      <div *ngIf="phone_number.errors && phone_number.touched">
                        <small
                          class="text-danger"
                          *ngIf="phone_number.errors['required']"
                          >Phone number is required</small
                        >
                        <small
                          class="text-danger"
                          *ngIf="phone_number.errors['pattern']"
                          >Phone number not valid or should start with +251, 09
                          or 07</small
                        >
                      </div>
                    </div>

                    <!-- <div class="p-formgrid p-grid"> -->
                    <div class="p-field">
                      <label for="employee_id">
                        <strong class="text-danger">*</strong>Awash Bank
                        ID</label
                      >
                      <input
                        type="text"
                        #employee_id="ngModel"
                        [class.is-invalid]="
                          employee_id.invalid && employee_id.touched
                        "
                        pInputText
                        id="employee_id"
                        [(ngModel)]="user.employee_id"
                        name="employee_id"
                        (input)="checkAwashBankIdStatus($event)"
                        required="true"
                        pattern="^(AB|AIB|aib|ab)\/(\d{1,7})\/(19|20|21)\d{2}$"
                      />
                      <div *ngIf="employee_id.errors && employee_id.touched">
                        <small
                          class="text-danger"
                          *ngIf="employee_id.errors['required']"
                          >Awash Bank ID is required</small
                        >
                        <small
                          class="text-danger"
                          *ngIf="employee_id.errors['pattern']"
                          >Awash ID Incorrect</small
                        >
                      </div>
                      <div *ngIf="employee_id_status">
                        <small class="text-danger">
                          This ID Does not exist!</small
                        >
                      </div>
                      <div *ngIf="employee_id_status_system">
                        <small class="text-danger">
                          User Already registered!</small
                        >
                      </div>
                    </div>

                    <div
                      *ngIf="
                        !employee_id_status &&
                        !employee_id_status_system &&
                        proceed &&
                        !(employee_id.errors && employee_id.touched)
                      "
                      class="p-field"
                    >
                      <label for="email">
                        <strong class="text-danger">*</strong>Outlook
                        Address</label
                      >
                      <input
                        type="text"
                        #email="ngModel"
                        [class.is-invalid]="email.invalid && email.touched"
                        pInputText
                        id="email"
                        [(ngModel)]="user.email"
                        name="email"
                        (input)="checkEmailStatus($event)"
                        required="true"
                        pattern="\w+@awashbank\.com$"
                      />

                      <div *ngIf="email_status">
                        <small class="text-danger">
                          Outlook Address Already Exists
                        </small>
                      </div>
                      <div *ngIf="email.errors && email.touched">
                        <small
                          class="text-danger"
                          *ngIf="email.errors['required']"
                          >Outlook Address is required</small
                        >
                        <small
                          class="text-danger"
                          *ngIf="email.errors['pattern']"
                          >Outlook Address should end with
                          '@awashbank.com'</small
                        >
                      </div>
                    </div>
                    <!-- </div> -->

                    <div
                      *ngIf="
                        !employee_id_status &&
                        !employee_id_status_system &&
                        proceed &&
                        !(employee_id.errors && employee_id.touched)
                      "
                      class="p-field"
                    >
                      <label class="p-mb-3"
                        ><strong class="text-danger">*</strong>Place of
                        Work</label
                      >
                      <div class="p-formgrid p-grid">
                        <div class="p-field-radiobutton p-col-4">
                          <p-radioButton
                            id="hoRB"
                            name="hoRB"
                            value="HO"
                            [(ngModel)]="radio_value"
                            (onClick)="chooseHO($event)"
                          ></p-radioButton>
                          <label for="hoRB">HO</label>
                        </div>
                        <div class="p-field-radiobutton p-col-4">
                          <p-radioButton
                            id="regionRB"
                            name="regionRB"
                            value="Region"
                            [(ngModel)]="radio_value"
                            (onClick)="chooseRegion($event)"
                          ></p-radioButton>
                          <label for="regionRB">Region</label>
                        </div>
                        <div class="p-field-radiobutton p-col-4">
                          <p-radioButton
                            id="branchRB"
                            name="branchRB"
                            value="Branch"
                            [(ngModel)]="radio_value"
                            (onClick)="chooseBranch($event)"
                          ></p-radioButton>
                          <label for="branchRB">Branch</label>
                        </div>
                      </div>
                    </div>

                    <div
                      class="p-formgrid p-grid"
                      *ngIf="
                        proceed && !(employee_id.errors && employee_id.touched)
                      "
                    >
                      <div class="p-field p-col-12" *ngIf="showJobPosition">
                        <label for="jobPosition"
                          ><strong class="text-danger">*</strong>Job
                          Title</label
                        >
                        <p-dropdown
                          [options]="job_positions"
                          optionLabel="title"
                          inputId="jobPosition"
                          name="jobPosition"
                          #job_position="ngModel"
                          [class.is-invalid]="
                            job_position.invalid && job_position.touched
                          "
                          (onChange)="onSelectJobPosition($event.value)"
                          (onClear)="onJobPositionClear()"
                          [(ngModel)]="user.jobPosition"
                          placeholder="Select Job Title"
                          [filter]="true"
                          [virtualScroll]="true"
                          [virtualScrollItemSize]="38"
                          [lazy]="true"
                          [required]="true"
                          (onLazyLoad)="onDropdownLoad($event, 'Job')"
                          [virtualScrollOptions]="{
                            showLoader: true,
                            loading: loading_dropdown,
                            delay: 250
                          }"
                        >
                          <ng-template pTemplate="loader" let-options="options">
                            <div
                              class="flex align-items-center py-2 px-3"
                              style="height: 38px"
                            >
                              <p-skeleton
                                [width]="options.even ? '60%' : '50%'"
                                height="1rem"
                              ></p-skeleton>
                            </div>
                          </ng-template>
                        </p-dropdown>

                        <div *ngIf="real_job_position_status">
                          <small class="text-danger">
                            Information not correct!
                          </small>
                        </div>
                        <small
                          class="text-danger"
                          [class.d-none]="
                            job_position.valid || job_position.untouched
                          "
                          >Job Title is required<br
                        /></small>
                      </div>
                      <div class="p-field p-col-12" *ngIf="regionRadioButton">
                        <label for="region"
                          ><strong class="text-danger">*</strong>Region</label
                        >
                        <p-dropdown
                          [options]="regionFilter"
                          optionLabel="name"
                          name="region"
                          inputId="region"
                          #regions="ngModel"
                          [class.is-invalid]="
                            regions.invalid && regions.touched
                          "
                          (onChange)="onSelectRegion($event.value)"
                          (onClear)="onRegionClear()"
                          [(ngModel)]="user.region"
                          [spellcheck]="true"
                          placeholder="Select Region"
                          [filter]="true"
                          filterValue="name"
                          filterPlaceholder="Filter by name"
                          [virtualScroll]="true"
                          [virtualScrollItemSize]="20"
                          [lazy]="true"
                          [required]="true"
                          (onLazyLoad)="onDropdownLoad($event, 'Region')"
                          [virtualScrollOptions]="{
                            showLoader: true,
                            loading: loading_dropdown,
                            delay: 100
                          }"
                        >
                          <ng-template pTemplate="loader" let-options="options">
                            <div
                              class="flex align-items-center py-2 px-3"
                              style="height: 38px"
                            >
                              <p-skeleton
                                [width]="options.even ? '60%' : '50%'"
                                height="1rem"
                              ></p-skeleton>
                            </div>
                          </ng-template>
                        </p-dropdown>

                        <div *ngIf="real_region_status">
                          <small class="text-danger"
                            >Information not correct!
                          </small>
                        </div>
                        <small
                          class="text-danger"
                          [class.d-none]="regions.valid || regions.untouched"
                          >Region is required<br
                        /></small>
                      </div>
                      <div class="p-field p-col-12" *ngIf="branchRadioButton">
                        <label for="branch"
                          ><strong class="text-danger">*</strong>Branch</label
                        >
                        <p-dropdown
                          [options]="allBranches"
                          optionLabel="name"
                          inputId="branch"
                          name="branch"
                          #branch="ngModel"
                          [class.is-invalid]="branch.invalid && branch.touched"
                          (onChange)="onSelectBranch($event.value)"
                          (onClear)="onBranchClear()"
                          [(ngModel)]="user.branch"
                          placeholder="Select Branch"
                          [filter]="true"
                          [virtualScroll]="true"
                          [virtualScrollItemSize]="38"
                          [lazy]="true"
                          [required]="true"
                          (onLazyLoad)="onDropdownLoad($event, 'Branch')"
                          [virtualScrollOptions]="{
                            showLoader: true,
                            loading: loading_dropdown,
                            delay: 250
                          }"
                        >
                          <ng-template pTemplate="loader" let-options="options">
                            <div
                              class="flex align-items-center py-2 px-3"
                              style="height: 38px"
                            >
                              <p-skeleton
                                [width]="options.even ? '60%' : '50%'"
                                height="1rem"
                              ></p-skeleton>
                            </div>
                          </ng-template>
                        </p-dropdown>

                        <div *ngIf="real_branch_status">
                          <small class="text-danger">
                            Information not correct!
                          </small>
                        </div>
                        <small
                          class="text-danger"
                          [class.d-none]="branch.valid || branch.untouched"
                          >Branch is required<br
                        /></small>
                      </div>

                      <div
                        class="p-field p-col-12"
                        *ngIf="headOfficeRadioButton"
                      >
                        <label for="ho"
                          ><strong class="text-danger">*</strong>Unit</label
                        >
                        <p-dropdown
                          [options]="hoWorkPlaces"
                          optionLabel="name"
                          inputId="ho"
                          name="branch"
                          #ho="ngModel"
                          [class.is-invalid]="ho.invalid && ho.touched"
                          (onChange)="onSelectHO($event.value)"
                          (onClear)="onHoClear()"
                          [(ngModel)]="user.branch"
                          placeholder="Select Unit"
                          [filter]="true"
                          [virtualScroll]="true"
                          [virtualScrollItemSize]="38"
                          [lazy]="true"
                          [required]="true"
                          (onLazyLoad)="onDropdownLoad($event, 'HO')"
                          [virtualScrollOptions]="{
                            showLoader: true,
                            loading: loading_dropdown,
                            delay: 250
                          }"
                        >
                          <ng-template pTemplate="loader" let-options="options">
                            <div
                              class="flex align-items-center py-2 px-3"
                              style="height: 38px"
                            >
                              <p-skeleton
                                [width]="options.even ? '60%' : '50%'"
                                height="1rem"
                              ></p-skeleton>
                            </div>
                          </ng-template>
                        </p-dropdown>

                        <div *ngIf="real_ho_status">
                          <small class="text-danger">
                            Information not correct!
                          </small>
                        </div>
                        <small
                          class="text-danger"
                          [class.d-none]="ho.valid || ho.untouched"
                          >HO is required<br
                        /></small>
                      </div>
                    </div>

                    <div
                      class="p-field"
                      *ngIf="
                        proceed &&
                        !(employee_id.errors && employee_id.touched) &&
                        !employee_id_status_system &&
                        !employee_id_status
                      "
                    >
                      <label class="p-mb-3"
                        ><strong class="text-danger">*</strong>User
                        Category</label
                      >
                      <div class="p-formgrid p-grid">
                        <div class="p-field-radiobutton p-col-4">
                          <p-radioButton
                            id="is"
                            name="category"
                            value="IS"
                            #category="ngModel"
                            required="true"
                            [class.is-invalid]="
                              category.invalid && category.touched
                            "
                            [(ngModel)]="user.category"
                          ></p-radioButton>
                          <label for="is">IS</label>
                        </div>
                        <div class="p-field-radiobutton p-col-4">
                          <p-radioButton
                            id="mgt"
                            name="category"
                            value="MGT"
                            #category="ngModel"
                            required="true"
                            [class.is-invalid]="
                              category.invalid && category.touched
                            "
                            [(ngModel)]="user.category"
                          ></p-radioButton>
                          <label for="mgt">MGT</label>
                        </div>
                        <div class="p-field-radiobutton p-col-4">
                          <p-radioButton
                            id="branch_financial"
                            name="category"
                            value="BFA"
                            [(ngModel)]="user.category"
                            #category="ngModel"
                            required="true"
                            [class.is-invalid]="
                              category.invalid && category.touched
                            "
                          ></p-radioButton>
                          <label for="branch_financial">Financial</label>
                        </div>
                        <div class="p-field-radiobutton p-col-4">
                          <p-radioButton
                            id="inspection"
                            name="category"
                            value="INS"
                            [(ngModel)]="user.category"
                            #category="ngModel"
                            required="true"
                            [class.is-invalid]="
                              category.invalid && category.touched
                            "
                          ></p-radioButton>
                          <label for="inspection">Inspection</label>
                        </div>
                        <div class="p-field-radiobutton p-col-4">
                          <p-radioButton
                            id="general"
                            name="category"
                            value="GENERAL"
                            [(ngModel)]="user.category"
                            #category="ngModel"
                            required="true"
                            [class.is-invalid]="
                              category.invalid && category.touched
                            "
                          ></p-radioButton>
                          <label for="general">General</label>
                        </div>
                        <div class="p-field-radiobutton p-col-4">
                          <p-radioButton
                            id="admin"
                            name="admin"
                            value="ADMIN"
                            [(ngModel)]="user.category"
                            #category="ngModel"
                            required="true"
                            [class.is-invalid]="
                              category.invalid && category.touched
                            "
                          ></p-radioButton>
                          <label for="admin">Admin</label>
                        </div>
                        <small
                          class="text-danger"
                          [class.d-none]="category.valid || category.untouched"
                          >User Category is required<br
                        /></small>
                      </div>
                    </div>

                    <div
                      class="p-field"
                      *ngIf="
                        (user.category == 'BFA' || user.category == 'INS') &&
                        proceed
                      "
                    >
                      <label class="p-mb-3"
                        ><strong class="text-danger">*</strong>Banking
                        Category</label
                      >
                      <div class="p-formgrid p-grid">
                        <div class="p-field-radiobutton p-col-4">
                          <p-radioButton
                            id="conventional"
                            name="banking"
                            #banking="ngModel"
                            [class.is-invalid]="
                              banking.invalid && banking.touched
                            "
                            value="conventional"
                            required="true"
                            [(ngModel)]="user.banking"
                          ></p-radioButton>
                          <label for="conventional">Conventional</label>
                        </div>
                        <div class="p-field-radiobutton p-col-4">
                          <p-radioButton
                            id="ifb"
                            name="banking"
                            #banking="ngModel"
                            [class.is-invalid]="
                              banking.invalid && banking.touched
                            "
                            value="ifb"
                            required="true"
                            [(ngModel)]="user.banking"
                          ></p-radioButton>
                          <label for="ifb">IFB</label>
                        </div>
                        <small
                          class="text-danger"
                          [class.d-none]="banking.valid || banking.untouched"
                          >Banking type is required<br
                        /></small>
                      </div>
                    </div>

                    <div
                      class="p-field"
                      *ngIf="user.category == 'MGT' && proceed"
                    >
                      <label class="p-mb-3"
                        ><strong class="text-danger">*</strong>Management
                        Audit</label
                      >
                      <div class="p-formgrid p-grid">
                        <div class="p-field-radiobutton p-col-4">
                          <p-radioButton
                            id="TradeService"
                            name="banking"
                            #banking="ngModel"
                            [class.is-invalid]="
                              banking.invalid && banking.touched
                            "
                            value="TradeService"
                            required="true"
                            [(ngModel)]="user.banking"
                          ></p-radioButton>
                          <label for="TradeService">Trade Service</label>
                        </div>
                        <div class="p-field-radiobutton p-col-4">
                          <p-radioButton
                            id="FinanceManagement"
                            name="banking"
                            #banking="ngModel"
                            [class.is-invalid]="
                              banking.invalid && banking.touched
                            "
                            value="FinanceManagement"
                            required="true"
                            [(ngModel)]="user.banking"
                          ></p-radioButton>
                          <label for="FinanceManagement"
                            >Finance Management</label
                          >
                        </div>
                        <div class="p-field-radiobutton p-col-4">
                          <p-radioButton
                            id="PeriodicAudit"
                            name="banking"
                            #banking="ngModel"
                            [class.is-invalid]="
                              banking.invalid && banking.touched
                            "
                            value="PeriodicAudit"
                            required="true"
                            [(ngModel)]="user.banking"
                          ></p-radioButton>
                          <label for="PeriodicAudit">Periodic Audit</label>
                        </div>
                        <small
                          class="text-danger"
                          [class.d-none]="banking.valid || banking.untouched"
                          >Management Audit type is required<br
                        /></small>
                      </div>
                    </div>

                    <div
                      class="p-formgrid p-grid"
                      *ngIf="
                        proceed &&
                        !(employee_id.errors && employee_id.touched) &&
                        !employee_id_status_system &&
                        !employee_id_status
                      "
                    >
                      <label class="p-ml-3"
                        ><strong class="text-danger">*</strong>Authenthication
                        Media</label
                      >
                      <div class="p-field p-col-6 p-mb-1">
                        <p-selectButton
                          [options]="authenthicationOptions"
                          [(ngModel)]="user.authenthication_media"
                          optionLabel="label"
                          optionValue="value"
                          name="authenthication_media"
                          [required]="true"
                        >
                          <ng-template let-item>
                            <i [class]="item.icon"></i> </ng-template
                        ></p-selectButton>
                      </div>
                    </div>

                    <div class="p-formgrid p-grid mt-4">
                      <div class="p-field p-col-3">
                        <button
                          pButton
                          pRipple
                          label="Save"
                          [disabled]="
                            userForm.form.invalid ||
                            !proceed ||
                            phone_number_status ||
                            email_status ||
                            real_branch_status ||
                            real_region_status ||
                            real_ho_status ||
                            real_job_position_status ||
                            radio_button_place_validation
                          "
                          icon="pi pi-check"
                          class="p-button-raised p-button-rounded"
                          (click)="openModal()"
                        ></button>
                      </div>
                      <div class="p-field p-col-3">
                        <button
                          class="col-md-3"
                          pButton
                          pRipple
                          type="reset"
                          label="Reset"
                          icon="pi pi-times"
                          class="p-button-raised p-button-danger p-button-rounded"
                        ></button>
                      </div>
                    </div>
                  </form>
                  <div class="col-12 text-center mt-4">
                    <p class="small mb-0">
                      Already have an account? <a routerLink="/">Log in</a>
                    </p>
                  </div>
                </div>
                <ng-template #afterAccountCreated>
                  <app-password-reset-otp
                    class="text-center"
                    [passedData]="user.phone_number"
                    (outputData)="onDataChange()"
                  ></app-password-reset-otp>
                </ng-template>
              </div>
              <div class="copyright">
                &copy; Copyright <strong><span>Awash Bank</span></strong
                >. All Rights Reserved
              </div>
            </div>
          </div>
        </div>
        <a
          (click)="scrollTop()"
          class="back-to-top d-flex align-items-center justify-content-center"
          ><i class="bi bi-arrow-up-short"></i
        ></a>
      </section>
    </div>
  </main>
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<p-dialog
  [(visible)]="confrimationDialog"
  header="Confirm User's information"
  [modal]="true"
  styleClass="p-fluid"
  [maximizable]="true"
>
  <ng-template pTemplate="content">
    <div class="col-md-12">
      <label class="Form-label"
        >First name: <b>{{ user.first_name }}</b></label
      >
    </div>
    <div class="col-md-12">
      <label class="Form-label"
        >Middle name: <b>{{ user.middle_name }}</b></label
      >
    </div>
    <div class="col-md-12">
      <label class="Form-label"
        >Last name: <b>{{ user.last_name }}</b></label
      >
    </div>
    <div class="col-md-12">
      <label class="Form-label"
        >Gender: <b>{{ user.gender }}</b></label
      >
    </div>
    <div class="col-md-12">
      <label class="Form-label"
        >Phone number: <b>{{ user.phone_number }}</b></label
      >
    </div>
    <div class="col-md-12">
      <label class="Form-label"
        >Employee Id: <b>{{ user.employee_id }}</b></label
      >
    </div>
    <div class="col-md-12">
      <label class="Form-label"
        >Email address: <b>{{ user.email }}</b></label
      >
    </div>
    <div class="col-md-12">
      <label class="Form-label"
        >Job Title: <b>{{ user.jobPosition?.title }}</b></label
      >
    </div>
    <div class="col-md-12">
      <label class="Form-label" *ngIf="user.region?.name"
        >Place of Work: <b>{{ user.region?.name }}</b></label
      >
    </div>
    <div class="col-md-12">
      <label class="Form-label" *ngIf="user.branch?.name"
        >Place of Work: <b>{{ user.branch?.name }}</b></label
      >
    </div>
    <div class="col-md-12">
      <label class="Form-label"
        >User Category: <b>{{ user.category }}</b></label
      >
    </div>
    <div class="col-md-12">
      <label class="form-label"
        ><span *ngIf="user.category == 'BFA' || user.category == 'INS'"
          >Banking Category: </span
        ><span *ngIf="user.category == 'MGT'">Management Audit: </span>
        <b>{{ user.banking }}</b></label
      >
    </div>
    <div class="col-md-12">
      <label *ngIf="user.authenthication_media" class="Form-label"
        >Authenthication Media: <b>{{ user.email }}</b></label
      >
      <label *ngIf="!user.authenthication_media" class="Form-label"
        >Authenthication Media: <b>{{ user.phone_number }}</b></label
      >
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      *ngIf="!loading"
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="addUser()"
    ></button>
    <button *ngIf="loading" type="button" disabled class="btn btn-primary">
      Loading...

      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
    </button>
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
  </ng-template>
</p-dialog>
