<div class="p-grid p-formgrid row">
  <div class="p-field p-col-12">
  <div class="custom-skeleton p-p-4">
    <ul class="p-m-0 p-p-0">
      <li class="p-mb-3">
        <div class="p-d-flex">
          <p-skeleton
            shape="circle"
            size="4rem"
            styleClass="p-mr-2"
          ></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
      <li class="p-mb-3">
        <div class="p-d-flex">
          <p-skeleton
            shape="circle"
            size="4rem"
            styleClass="p-mr-2"
          ></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
      <li class="p-mb-3">
        <div class="p-d-flex">
          <p-skeleton
            shape="circle"
            size="4rem"
            styleClass="p-mr-2"
          ></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
      <li class="p-mb-3">
        <div class="p-d-flex">
          <p-skeleton
            shape="circle"
            size="4rem"
            styleClass="p-mr-2"
          ></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
      <li class="p-mb-3">
        <div class="p-d-flex">
          <p-skeleton
            shape="circle"
            size="4rem"
            styleClass="p-mr-2"
          ></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
      <li>
        <div class="p-d-flex">
          <p-skeleton
            shape="circle"
            size="4rem"
            styleClass="p-mr-2"
          ></p-skeleton>
          <div style="flex: 1">
            <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="75%"></p-skeleton>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
