<form ngNativeValidate #auditForm="ngForm" class="p-fluid">
  <div class="p-field">
    <label class="p-mb-3"><strong class="text-danger">*</strong> Banking</label>
    <div class="p-formgrid p-grid">
      <div class="p-field-radiobutton p-col-3">
        <p-radioButton
          id="conventional"
          name="banking"
          value="conventional"
          (onClick)="changeBanking($event.value)"
          [(ngModel)]="auditData.banking"
        ></p-radioButton>
        <label for="conventional">Conventional</label>
      </div>
      <div class="p-field-radiobutton p-col-3">
        <p-radioButton
          id="ifb"
          name="banking"
          value="ifb"
          [(ngModel)]="auditData.banking"
          (onClick)="changeBanking($event.value)"
        ></p-radioButton>
        <label for="ifb">IFB</label>
      </div>
    </div>
  </div>
  <div class="p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="loanType"
        ><strong class="text-danger">*</strong>Category</label
      >
      <p-dropdown
        [options]="loanTypes"
        [(ngModel)]="auditData.loanAndAdvance!.category"
        optionLabel="loan_type"
        optionValue="loan_type"
        [filter]="true"
        name="category"
        #category="ngModel"
        [editable]="true"
        (onChange)="onChangeDropDown($event.value)"
        placeholder="Select Loan Category"
        [required]="true"
        [class.is-invalid]="category.invalid && category.touched"
        placeholder="Select Loan Type"
      >
      </p-dropdown>
      <div *ngIf="category.errors && category.invalid && category.touched">
        <small class="text-danger" *ngIf="category.errors?.['required']"
          >Loan Category is required</small
        >
      </div>
    </div>
  </div>

  <div class="p-formgrid p-grid" *ngIf="loanSelected">
    <div class="p-field p-col">
      <label for="loanType"
        ><strong class="text-danger">*</strong>Loan Type</label
      >
      <p-dropdown
        [options]="dropdownLoanTypes"
        [(ngModel)]="auditData.loanAndAdvance!.loan_type"
        optionLabel="loan_type"
        optionValue="loan_type"
        [filter]="true"
        name="loan_type"
        #loanType="ngModel"
        [editable]="true"
        [required]="true"
        [class.is-invalid]="loanType.invalid && loanType.touched"
        placeholder="Select Loan Type"
      >
      </p-dropdown>
      <div *ngIf="loanType.errors && loanType.invalid && loanType.touched">
        <small class="text-danger" *ngIf="loanType.errors?.['required']"
          >Loan Type is required</small
        >
      </div>
    </div>
  </div>

  <div class="p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="selected_account_type"
        ><strong class="text-danger">*</strong> Loan Status
      </label>

      <p-dropdown
        [options]="loan_status"
        [(ngModel)]="auditData.loanAndAdvance!.loan_status"
        placeholder="Select a Loan Status"
        [editable]="true"
        optionLabel="name"
        optionValue="code"
        name="loanStatus"
        [showClear]="true"
        #loanStatus="ngModel"
        [required]="true"
        [class.is-invalid]="loanStatus.invalid || loanStatus.touched"
      >
      </p-dropdown>

      <small
        class="text-danger"
        [class.d-none]="loanStatus.valid || loanStatus.untouched"
        >Loan status is required<br
      /></small>
    </div>
  </div>

  <div class="p-field">
    <label for="amount" class="p-mb-3 text-primary">Do you need common findings or recommendations?</label>
    <div class="form-check form-switch">
      <p-inputSwitch
        [(ngModel)]="is_table"
        name="is_table"
        (click)="checkTable()"
      ></p-inputSwitch>
    </div>
  </div>

  <div class="p-field">
    <label for="finding"><strong class="text-danger">*</strong> Finding</label>
    <p-dropdown
      *ngIf="!is_new_finding"
      [options]="commonFindings"
      [(ngModel)]="auditData.finding"
      optionLabel="content"
      optionValue="content"
      [filter]="true"
      [editable]="true"
      name="finding"
      styleClass="w-100"
      filterBy="content"
      [showClear]="true"
      placeholder="Select a finding"
      (onChange)="onChangeFindingDropdown($event.value)"
      [required]="true"
    >
      <ng-template pTemplate="selectedItem">
        <div *ngIf="auditData.finding">
          <div [innerHTML]="auditData.finding"></div>
        </div>
      </ng-template>
      <ng-template let-commonfinding pTemplate="item">
        <ng-container
          *ngIf="
            commonfinding.content.includes('New Finding');
            else writtenFinding
          "
          class="row"
        >
          <button
            pButton
            pRipple
            label="New Finding?"
            icon="pi pi-plus"
            class="p-button-raised p-button-rounded col-md-6"
          ></button>
        </ng-container>
        <ng-template #writtenFinding>
          <div [innerHTML]="commonfinding.content"></div>
        </ng-template>
      </ng-template>
    </p-dropdown>

    <div *ngIf="is_new_finding">
      <ckeditor
        #finding="ngModel"
        name="finding"
        [(ngModel)]="auditData.finding"
        [class.is-invalid]="finding.invalid || finding.touched"
         [editor]="findingEditor"
[config]="config"
        [required]="true"
        (ready)="changeFinding($event, auditData)"
      ></ckeditor>
      <small
        class="text-danger"
        [class.d-none]="finding.dirty || finding.untouched"
        >Finding is required<br
      /></small>
      <small
        class="text-danger"
        [class.d-none]="finding.valid || finding.untouched"
        >Finding is required</small
      >
    </div>
  </div>

  <div class="p-field">
    <label for="finding_detail"> Finding Detail </label>
    <ckeditor
      [(ngModel)]="auditData.finding_detail"
      name="finding_detail"
            [editor]="impactEditor"
[config]="config"
    ></ckeditor>
  </div>

  <div class="p-field">
    <label for="impact"><strong class="text-danger">*</strong> Impact</label>
    <ckeditor
      #impact="ngModel"
      [(ngModel)]="auditData.impact"
      name="impact"
      [class.is-invalid]="impact.invalid && impact.touched"
            [editor]="impactEditor"
[config]="config"
      (ready)="changeImpact($event, auditData)"
      [required]="true"
    ></ckeditor>
    <small
      class="text-danger"
      [class.d-none]="impact.untouched || impact.dirty || impact.valid"
      >Impact is required<br
    /></small>
    <small class="text-danger" [class.d-none]="impact.valid || impact.untouched"
      >Impact is required</small
    >
  </div>

  <div class="p-field">
    <label for="recommendation"
      ><strong class="text-danger">*</strong> Recommendation</label
    >

    <p-dropdown
      *ngIf="!is_new_recommendation"
      [options]="commonRecommendations"
      [(ngModel)]="auditData.recommendation"
      optionLabel="content"
      optionValue="content"
      [filter]="true"
      [editable]="true"
      styleClass="w-100"
      name="recommendation"
      filterBy="content"
      [showClear]="true"
      placeholder="Select a recommendation"
      (onChange)="onChangeRecommendationDropdown($event.value)"
      [required]="true"
    >
      <ng-template pTemplate="selectedItem">
        <div *ngIf="auditData.recommendation">
          <div [innerHTML]="auditData.recommendation"></div>
        </div>
      </ng-template>
      <ng-template let-commonRecommendation pTemplate="item">
        <ng-container
          *ngIf="
            commonRecommendation.content.includes('New Recommendation');
            else writtenRecommendation
          "
          class="row"
        >
          <button
            pButton
            pRipple
            label="New Recommendation?"
            icon="pi pi-plus"
            class="p-button-raised p-button-rounded col-md-8"
          ></button>
        </ng-container>
        <ng-template #writtenRecommendation>
          <div [innerHTML]="commonRecommendation.content"></div>
        </ng-template>
      </ng-template>
    </p-dropdown>
    <div *ngIf="is_new_recommendation">
      <ckeditor
        #recommendation="ngModel"
        [(ngModel)]="auditData.recommendation"
        [class.is-invalid]="recommendation.invalid && recommendation.touched"
        name="recommendation"
        required="true"
        [editor]="recommendationEditor"
[config]="config"
        (ready)="changeRecommendation($event, auditData)"
      ></ckeditor>
      <small
        class="text-danger"
        [class.d-none]="recommendation.dirty || recommendation.untouched"
        >Recommendation is required<br
      /></small>
      <small
        class="text-danger"
        [class.d-none]="recommendation.valid || recommendation.untouched"
        >Recommendation is required</small
      >
    </div>
  </div>

  <div class="p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="borrower_name" class="block"
        ><strong class="text-danger">*</strong>Borrower Name</label
      >
      <input
        id="borrower_name"
        type="text"
        aria-describedby="borrower_name-help"
        [(ngModel)]="auditData.loanAndAdvance!.borrower_name"
        pInputText
        name="borrower_name"
        #borrower_name="ngModel"
        [required]="true"
        [class.is-invalid]="borrower_name.invalid || borrower_name.touched"
      />
      <small
        class="text-danger"
        [class.d-none]="borrower_name.valid || borrower_name.untouched"
        >Borrower name is required<br
      /></small>
    </div>
  </div>
  <div class="p-field">
    <label class="p-mb-3"
      ><strong class="text-danger">*</strong>Currency Type</label
    >
    <div class="p-formgrid p-grid">
      <div class="p-field-radiobutton p-col-3">
        <p-radioButton
          id="LCY"
          name="cash_type"
          value="LCY"
          (onClick)="changeCashType($event.value, auditData)"
          [(ngModel)]="auditData.loanAndAdvance!.cash_type"
        ></p-radioButton>
        <label for="LCY">LCY</label>
      </div>
      <div class="p-field-radiobutton p-col-3">
        <p-radioButton
          id="FCY"
          name="cash_type"
          value="FCY"
          [(ngModel)]="auditData.loanAndAdvance!.cash_type"
          (onClick)="changeCashType($event.value, auditData)"
        ></p-radioButton>
        <label for="FCY">FCY</label>
      </div>
      <div *ngIf="is_fcy" class="p-field p-col-6">
        <label for="currency_code"
          ><strong class="text-danger">*</strong>Currency</label
        >
        <p-dropdown
          [options]="currency"
          [(ngModel)]="auditData.loanAndAdvance!.fcy"
          optionLabel="currency_code"
          optionValue="currency_code"
          [filter]="true"
          [editable]="true"
          styleClass="w-100"
          name="currency_code"
          filterBy="currency_code"
          [showClear]="true"
          placeholder="Select a Currency"
          [required]="true"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="auditData.loanAndAdvance?.fcy">
              <div>{{ auditData.loanAndAdvance?.fcy }}</div>
            </div>
          </ng-template>
          <ng-template let-curr pTemplate="item">
            {{ curr.currency_code }}
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </div>
  <div class="p-formgrid p-grid">

    <div class="p-field p-col">
      <label for="accountNumber" class="block"
        ><strong class="text-danger">*</strong>Account Number</label
      >
      <input
        id="account_number"
        name="accountNumber"
        type="text"
        aria-describedby="account_number-help"
        #accountNumber="ngModel"
        pattern="[A-Za-z0-9]{14,}"
        [required]="true"
        autocomplete="off"
        [ngClass]="{
          'is-invalid': auditForm.submitted && accountNumber.invalid
        }"
        [class.is-invalid]="accountNumber.invalid && accountNumber.touched"
        [(ngModel)]="auditData.loanAndAdvance!.account_number"
        pInputText
      />

      <div
        *ngIf="
          accountNumber.errors && accountNumber.invalid && accountNumber.touched
        "
      >
        <small class="text-danger" *ngIf="accountNumber.errors?.['required']"
          >Account Number is required</small
        >

        <small class="text-danger" *ngIf="accountNumber.errors['pattern']">
          Invalid Account number</small
        >
      </div>
    </div>


    <div class="p-field p-col">
      <label for="granted_amount"
        ><strong class="text-danger">*</strong>Granted Loan Amount</label
      >

      <p-inputNumber
        [(ngModel)]="auditData.loanAndAdvance!.amount_granted"
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="horizontal"
        spinnerMode="horizontal"
        [step]="0.5"
        [min]="0"
        [ariaRequired]="true"
        decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-info"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        name="amount_granted"
        padControl="true"
        #amount_granted="ngModel"
        [required]="true"
        [class.is-invalid]="amount_granted.invalid || amount_granted.touched"
      >
        <small
          class="text-danger"
          [class.d-none]="amount_granted.valid || amount_granted.untouched"
          >Granted Loan amount is required<br
        /></small>
      </p-inputNumber>
    </div>
  </div>

  <div class="p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="approved_amount" class="block"
        ><strong class="text-danger">*</strong>Approved Amount</label
      >

      <p-inputNumber
        [(ngModel)]="overDraft.approved_amount"
        [showButtons]="true"
        (onBlur)="computeDifference()"
        buttonLayout="horizontal"
        inputId="horizontal"
        spinnerMode="horizontal"
        [step]="0.5"
        [min]="0"
        [ariaRequired]="true"
        decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-info"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        name="credit"
        padControl="true"
        #credit="ngModel"
        [required]="true"
        [class.is-invalid]="credit.invalid || credit.touched"
      >
        <small
          class="text-danger"
          [class.d-none]="credit.valid || credit.untouched"
          >Approved amount is required<br
        /></small>
      </p-inputNumber>
    </div>

    <div class="p-field p-col">
      <label for="overdrawn_balance" class="block"> Outstanding balance</label>
      <p-inputNumber
        [(ngModel)]="overDraft.overdrawn_balance"
        (onBlur)="computeDifference()"
        buttonLayout="horizontal"
        [showButtons]="true"
        name="overdrawn_balance"
        inputId="horizontal"
        spinnerMode="horizontal"
        decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-info"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        #overdrawn_balance="ngModel"
        [class.is-invalid]="
          overdrawn_balance.invalid || overdrawn_balance.touched
        "
      >
        <!-- <small
          class="text-danger"
          [class.d-none]="
            overdrawn_balance.valid || overdrawn_balance.untouched
          "
          >Overdrawn amount is required<br
        /></small> -->
      </p-inputNumber>
    </div>
  </div>

  <div class="p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="difference">Overdrawn Amount</label>
      <p-inputNumber
        #difference="ngModel"
        [(ngModel)]="overDraft.difference"
        [disabled]="true"
        name="difference"
      >
      </p-inputNumber>
    </div>

    <div class="p-field p-col">
      <label for="interest_rate" class="block"
        ><strong class="text-danger">*</strong>Interest/Profit Rate</label
      >
      <p-inputNumber
        [(ngModel)]="auditData.loanAndAdvance!.interest_rate"
        (onBlur)="computeDifference()"
        buttonLayout="horizontal"
        name="interest_rate"
        [showButtons]="true"
        inputId="horizontal"
        [step]="0.5"
        spinnerMode="horizontal"
        decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-info"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        #interest_rate="ngModel"
        [required]="true"
        [class.is-invalid]="interest_rate.invalid || interest_rate.touched"
      >
        <small
          class="text-danger"
          [class.d-none]="interest_rate.valid || interest_rate.untouched"
          >Interest/Profit Rate is required<br
        /></small>
      </p-inputNumber>
    </div>
  </div>

  <div class="p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="penalty_charge" class="block">Penalty Charge</label>
      <p-inputNumber
        [(ngModel)]="overDraft.penalty_charge"
        buttonLayout="horizontal"
        name="penalty_charge"
        [showButtons]="true"
        [step]="0.5"
        inputId="horizontal"
        spinnerMode="horizontal"
        #penality="ngModel"
        decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-info"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        [class.is-invalid]="penality.invalid || penality.touched"
      >
        <!-- <small
          class="text-danger"
          [class.d-none]="penality.valid || penality.untouched"
          >Penality charge is required<br
        /></small> -->
      </p-inputNumber>
    </div>
    <div class="p-field p-col">
      <label for="arrears">Arrears</label>
      <p-inputNumber
        [(ngModel)]="auditData.loanAndAdvance!.arrears"
        buttonLayout="horizontal"
        name="arrears"
        [showButtons]="true"
        [step]="0.5"
        inputId="horizontal"
        spinnerMode="horizontal"
        decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-info"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        #arrares="ngModel"
        [required]="true"
        [class.is-invalid]="arrares.invalid || arrares.touched"
      >
        <small
          class="text-danger"
          [class.d-none]="arrares.valid || arrares.untouched"
          >Arrears is required<br
        /></small>
      </p-inputNumber>
    </div>
  </div>

  <div class="p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="disburse_date" class="block"
        ><strong class="text-danger">*</strong>Disbursed Date</label
      >

      <p-calendar
        [showIcon]="true"
        [(ngModel)]="loanDisbursedDate"
        id="loanDisbursedDate"
        name="loanDisbursedDate"
        [maxDate]="today"
        dataType="string"
        dateFormat="mm/dd/yy"
        #disburse_date="ngModel"
        [required]="true"
        [class.is-invalid]="disburse_date.invalid && disburse_date.touched"
      >
        <small
          class="text-danger"
          [class.d-none]="disburse_date.valid || disburse_date.untouched"
        >
          Disbursed Date is required<br />
        </small>
      </p-calendar>
    </div>

    <div class="p-field p-col">
      <label for="due_date"
        ><strong class="text-danger">*</strong>Mode of Payment</label
      >
      <p-dropdown
        [options]="repayement_mode"
        [(ngModel)]="auditData.loanAndAdvance!.due_date"
        optionLabel="name"
        optionValue="code"
        [filter]="true"
        name="due_date"
        #due_date="ngModel"
        [editable]="true"
        [required]="true"
        [class.is-invalid]="due_date.invalid && due_date.touched"
        placeholder="Select Payment Mode"
      >
      </p-dropdown>
      <div *ngIf="due_date.errors && due_date.invalid && due_date.touched">
        <small class="text-danger" *ngIf="due_date.errors?.['required']"
          > Payment mode is required</small
        >
      </div>
    </div>

    <!-- <div class="p-field p-col">
      <label for="loan_disbursed" class="block"
        ><strong class="text-danger">*</strong>Repayment Date</label
      >

      <p-calendar
        [showIcon]="true"
        [(ngModel)]="loanDuedate"
        id="loanDuedate"
        name="loanDuedate"
        dataType="string"
        dateFormat="mm/dd/yy"
        #loan_due="ngModel"
        [required]="true"
        [class.is-invalid]="loan_due.invalid && loan_due.touched"
      >
        <small
          class="text-danger"
          [class.d-none]="loan_due.valid || loan_due.untouched"
        >
          Repayment Date is required<br />
        </small>
      </p-calendar>
    </div> -->
  </div>
  <div class="p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="expiry_date" class="block">Expiry Date</label>

      <p-calendar
        [showIcon]="true"
        [(ngModel)]="expiryDate"
        id="expiryDate"
        name="expiryDate"
        dataType="string"
        dateFormat="mm/dd/yy"
        #expiry_date="ngModel"
        [class.is-invalid]="expiry_date.invalid && expiry_date.touched"
      >
        <!-- <small
          class="text-danger"
          [class.d-none]="expiry_date.valid || expiry_date.untouched"
        >
          Expiry due date is required<br />
        </small> -->
      </p-calendar>
    </div>
  </div>

  <ul class="list-group col-md-12 mt-2">
    <div class="form-check form-switch">
      <p-inputSwitch
        [(ngModel)]="edit_auditee"
        (click)="changeEditAuditee()"
        name="edit_auditee"
      ></p-inputSwitch>
    </div>
    <li class="list-group-item ml-1" *ngIf="edit_auditee">
      <app-file-upload (dataChange)="onDataChange($event)"></app-file-upload>
    </li>
  </ul>

  <div class="p-formgrid p-grid mt-4">
    <div class="p-field p-col-2">
      <button
      *ngIf="!loading"
        pButton
        pRipple
        label="Save"
        [disabled]="
          auditForm.form.invalid ||
          !finding_valid ||
          !recommendation_valid ||
          !impact_valid ||
          !cash_type_valid ||
          !banking
        "
        icon="pi pi-check"
        class="p-button-raised p-button-rounded"
        (click)="saveAudit()"></button>
        <button *ngIf="loading" type="button" disabled class="btn btn-primary">
          Loading...
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"></span>
        </button>
    </div>
    <div class="p-field p-col-2">
      <button
        class="col-md-3"
        pButton
        pRipple
        type="reset"
        label="Reset"
        icon="pi pi-times"
        class="p-button-raised p-button-danger p-button-rounded"
      ></button>
    </div>
  </div>
</form>
