<main id="main" class="main">
  <p-toast></p-toast>
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/"><i class="bi bi-house-door"></i></a>
        </li>
        <li class="breadcrumb-item active">
          Reported Negotiable Instrumenet Findings
        </li>
        <li></li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <p-toolbar styleClass="p-mb-4">
              <ng-template pTemplate="left">
                <!-- <button
                  pButton
                  pRipple
                  label="Seen"
                  icon="pi pi-send"
                  class="p-button-raised p-button-rounded p-button-secondary p-mr-2"
                  (click)="makeSelectedFindingsSeen()"
                  [disabled]="!selectedAudits || !selectedAudits.length"
                ></button> -->
              </ng-template>

              <ng-template pTemplate="right">
                <div class="flex">
                  <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file"
                    (click)="dt.exportCSV()"
                    class="mr-2"
                    pTooltip="CSV"
                    tooltipPosition="bottom"
                  ></button>
                  <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file-excel"
                    (click)="exportExcel()"
                    class="p-button-success mr-2"
                    pTooltip="XLS"
                    tooltipPosition="bottom"
                  ></button>
                  <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-file-pdf"
                    (click)="exportPdf()"
                    class="p-button-warning mr-2"
                    pTooltip="PDF"
                    tooltipPosition="bottom"
                  ></button>
                  <button
                    type="button"
                    pButton
                    pRipple
                    icon="pi pi-filter"
                    (click)="dt.exportCSV({ selectionOnly: true })"
                    class="p-button-info ml-auto"
                    pTooltip="Selection Only"
                    tooltipPosition="bottom"
                  ></button>
                </div>
              </ng-template>
            </p-toolbar>
            <p-table
              #dt
              [value]="audits"
              [columns]="selectedColumns"
              [rows]="10"
              [paginator]="true"
              [loading]="loading"
              [globalFilterFields]="selectedColumns"
              [(selection)]="selectedAudits"
              [rowHover]="true"
              dataKey="id"
              [globalFilterFields]="[
                'case_number',
                'negotiableInstrument.account_holder',
                'negotiableInstrument.account_number',
                'negotiableInstrument.printed_date',
                'negotiableInstrument.amount',
                'negotiableInstrument.difference',
                'negotiableInstrument.negotiableStockItem.stock_type',
                'negotiableInstrument.ck_type',
                'negotiableInstrument.ck_range',
                'negotiableInstrument.quantity',
                'negotiableInstrument.unit_price',
                'negotiableInstrument.trial_balance',
                'negotiableInstrument.action_taken',
                'negotiableInstrument.cash_type',
                'negotiableInstrument.fcy'
              ]"
              [tableStyle]="{ 'min-width': '180rem' }"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [showCurrentPageReport]="true"
            >
              <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                  <h5 class="p-m-0">
                    <p-multiSelect
                      [options]="cols"
                      [(ngModel)]="selectedColumns"
                      optionLabel="header"
                      selectedItemsLabel="{0} columns selected"
                      [style]="{ 'min-width': '200px' }"
                      placeholder="Choose Columns"
                    ></p-multiSelect>
                  </h5>
                  <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                      pInputText
                      #searchData
                      type="text"
                      (input)="dt.filterGlobal(searchData.value, 'contains')"
                      placeholder="Search..."
                    />
                  </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th style="width: 3rem"></th>
                  <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>

                  <th>
                    <div class="flex justify-content-center align-items-center">
                      Case Number
                      <p-columnFilter
                        type="text"
                        field="audit_case_number"
                        display="menu"
                      ></p-columnFilter>
                    </div>
                  </th>
                  <!-- <th>
                    <div class="flex justify-content-center align-items-center">
                      Branch Name
                      <p-columnFilter
                        type="text"
                        field="branch_name"
                        display="menu"
                      ></p-columnFilter>
                    </div>
                  </th> -->

                  <th *ngFor="let col of columns">
                    <!-- <span
                      *ngIf="
                        !containsAnyField(
                          [
                            'audit_finding',
                            'audit_impact',
                            'audit_recommendation',
                            'finding_detail'
                          ],
                          [col.field]
                        )
                      "
                      >-->
                    <span
                      *ngIf="
                        containsAnyField(
                          [
                            { field: 'printed_date' },
                            { field: 'finding_date' },
                            { field: 'rectification_date' }
                          ],
                          [col.field]
                        )
                      "
                    >
                      <div
                        class="flex justify-content-center align-items-center"
                      >
                        {{ col.header }}
                        <p-columnFilter
                          type="date"
                          [field]="col.field"
                          display="menu"
                        ></p-columnFilter></div
                    ></span>

                    <span
                      *ngIf="
                        containsAnyField(
                          [
                            { field: 'unit_price' },
                            { field: 'amount' },
                            { field: 'difference' },
                            { field: 'quantity' },
                            { field: 'trial_balance' }
                          ],
                          [col.field]
                        )
                      "
                    >
                      <div
                        class="flex justify-content-center align-items-center"
                      >
                        {{ col.header }}
                        <p-columnFilter
                          type="numeric"
                          [field]="col.field"
                          display="menu"
                        ></p-columnFilter></div
                    ></span>

                    <span
                      *ngIf="
                        containsAnyField(
                          [
                            { field: 'cash_type' },
                            { field: 'stock_type' },
                            { field: 'ck_type' },
                            { field: 'ck_range' },
                            { field: 'account_number' },
                            { field: 'account_holder' }
                          ],
                          [col.field]
                        )
                      "
                    >
                      <div
                        class="flex justify-content-center align-items-center"
                      >
                        {{ col.header }}
                        <p-columnFilter
                          type="text"
                          [field]="col.field"
                          display="menu"
                        ></p-columnFilter></div
                    ></span>
                    <!-- </span> -->
                  </th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-audit
                let-columns="columns"
                let-expanded="expanded"
              >
                <tr>
                  <td>
                    <button type="button" pButton pRipple [pRowToggler]="audit"
                      (click)="getChangeTrackerForRowDetail(audit)" class="p-button-text p-button-rounded p-button-plain"
                      [icon]="
                              expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                            "></button>
                  </td>
                  <td>
                    <p-tableCheckbox [value]="audit"></p-tableCheckbox>
                  </td>
                  <td>{{ audit.case_number }}</td>
                  <!-- <td>{{ audit.branch_name }}</td> -->
                  <td *ngFor="let col of columns">
                    <span
                      *ngIf="
                        containsAnyField(
                          [
                            { field: 'unit_price' },
                            { field: 'amount' },
                            { field: 'difference' },
                            { field: 'trial_balance' }
                          ],
                          [col.field]
                        )
                      "
                    >
                      <span
                        *ngIf="audit.negotiableInstrument?.cash_type == 'LCY'"
                      >
                        {{
                          audit.negotiableInstrument[col.field]
                            | number : "1.0-2"
                        }}
                        ETB
                      </span>
                      <span
                        *ngIf="audit.negotiableInstrument.cash_type == 'FCY'"
                      >
                        {{
                          audit.negotiableInstrument[col.field]
                            | number : "1.0-2"
                        }}
                        {{ audit.negotiableInstrument?.fcy }}
                      </span>
                    </span>

                    <span
                      *ngIf="
                        containsAnyField(
                          [
                            { field: 'printed_date' },
                            { field: 'finding_date' },
                            { field: 'rectification_date' }
                          ],
                          [col.field]
                        );
                        else elsePart
                      "
                      ><span
                        *ngIf="
                          col.field.includes('finding') ||
                          col.field.includes('rectification')
                        "
                        >{{ audit[col.field] | date : "MM/dd/yyyy" }}</span
                      >

                      <span *ngIf="col.field.includes('printed_date')">{{
                        audit.negotiableInstrument[col.field]
                          | date : "MM/dd/yyyy"
                      }}</span>
                    </span>
                    <ng-template #elsePart>
                      <span
                        *ngIf="
                          col.field.includes('stock_type');
                          else secondElsePart
                        "
                      >
                        {{
                          audit.negotiableInstrument!.negotiableStockItem
                            ?.stock_type
                        }}
                      </span>
                      <ng-template #secondElsePart>
                        <span
                          *ngIf="
                            !containsAnyField(
                              [
                                { field: 'unit_price' },
                                { field: 'amount' },
                                { field: 'difference' },
                                { field: 'trial_balance' }
                              ],
                              [col.field]
                            )
                          "
                          >{{ audit.negotiableInstrument[col.field] }}</span
                        >
                        <span *ngIf="col.field.includes('quantity')">
                          {{
                            audit.negotiableInstrument[col.field]
                            | number : "1.0-2"
                          }}</span
                        >
                      </ng-template>
                    </ng-template>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="rowexpansion" let-audit>
                <tr>
                  <td colspan="9">
                    <div class="p-3">
                      <div style="padding: 0.5em 0 1em 0">
                        <p-button
                          (click)="activeIndex1 = 0"
                          icon="pi pi-plus"
                          styleClass="p-button-raised p-button-rounded p-ml-2"
                          label="Detail"></p-button>

                        <p-button
                          *ngIf="audit.response_added"
                          (click)="activeIndex1 = 2"
                          icon="pi pi-plus"
                          styleClass="p-button-raised p-button-rounded  p-ml-2"
                          label="Response"></p-button>

                        <ng-container *ngIf="unseen_remark > 0; else elseTemplate">
                          <p-button
                            icon="pi pi-envelope"
                            label="Remarks"
                            styleClass="p-button-rounded p-button-raised p-ml-2"
                            badge="{{ unseen_remark }}"
                            (onClick)="openRemarkModal(audit)"></p-button>
                        </ng-container>
                        <ng-template #elseTemplate>
                          <p-button
                            icon="pi pi-plus"
                            label="Remark"
                            styleClass="p-button-rounded p-button-raised p-ml-2"
                            (onClick)="openRemarkModal(audit)"></p-button>
                        </ng-template>
                      </div>
                      <p-tabView [(activeIndex)]="activeIndex1">
                        <p-tabPanel header="Detail">
                          <div class="py-3">
                            <p-button
                              [icon]="activeState[0] ? 'pi pi-minus' : 'pi pi-plus'"
                              (click)="toggle(0)"
                              styleClass="p-button-text"
                              label="Finding"></p-button>
                            <p-button
                              *ngIf="audit.finding_detail"
                              [icon]="activeState[1] ? 'pi pi-minus' : 'pi pi-plus'"
                              (click)="toggle(1)"
                              styleClass="p-button-text"
                              label="Finding Detail"></p-button>
                            <p-button
                              [icon]="activeState[2] ? 'pi pi-minus' : 'pi pi-plus'"
                              (click)="toggle(2)"
                              styleClass="p-button-text ml-2"
                              label="Impact"></p-button>
                            <p-button
                              [icon]="activeState[3] ? 'pi pi-minus' : 'pi pi-plus'"
                              (click)="toggle(3)"
                              styleClass="p-button-text ml-2"
                              label="Recommendation"></p-button>
                            <p-button
                              [icon]="activeState[4] ? 'pi pi-minus' : 'pi pi-plus'"
                              (click)="toggle(4)"
                              styleClass="p-button-text ml-2"
                              label="Files"></p-button>
                          </div>
                          <p-accordion>
                            <p-accordionTab
                              [transitionOptions]="'400ms'"
                              header="Finding"
                              [(selected)]="activeState[0]">
                              <ckeditor
                                #finding
                                name="finding"
                                [data]="audit.finding"
                                [editor]="Editor"
                                [disabled]="true"></ckeditor>
                            </p-accordionTab>
                            <p-accordionTab
                            *ngIf="audit.finding_detail"
                            [transitionOptions]="'400ms'"
                            header="Finding Detail"
                            [(selected)]="activeState[1]">
                            <ckeditor
                            #finding_detail
                            name="finding_detail"
                            [data]="audit.finding_detail"
                            [editor]="Editor"
                            [disabled]="true"></ckeditor>
                         </p-accordionTab>
                            <p-accordionTab
                              header="Impact"
                              [(selected)]="activeState[2]">
                              <ckeditor
                                #impact
                                name="impact"
                                [data]="audit.impact"
                                [editor]="Editor"
                                [disabled]="true"></ckeditor>
                            </p-accordionTab>
                            <p-accordionTab
                              header="Recommendation"
                              [(selected)]="activeState[3]">
                              <ckeditor
                                #recommendation
                                name="impact"
                                [data]="audit.recommendation"
                                [editor]="Editor"
                                [disabled]="true"></ckeditor>
                            </p-accordionTab>

                            <p-accordionTab header="Attached Files" [(selected)]="activeState[4]">
                              <div class="card">
                                <div class="card-header">Attached Files</div>
                                <ul class="list-group list-group-flush">
                                  <li *ngFor="let file of fileInfos | async" class="list-group-item">
                                    <a href="{{ file.url }}">{{ file.name }}</a>
                                  </li>
                                </ul>
                              </div>
                            </p-accordionTab>
                          </p-accordion>
                        </p-tabPanel>

                        <p-tabPanel *ngIf="audit.response_added">
                          <ng-template pTemplate="header">
                            <i class="pi pi-user"></i>
                            <span class="ml-1">Auditee Response</span>
                          </ng-template>
                          <p-fieldset legend="Action Plan" [toggleable]="true">
                            <editor
                              [init]="editorConfig"
                              [disabled]="true"
                              [(ngModel)]="
                                audit.is_MGTAuditee[0].auditeeDivisionISM[0]
                                  .action_plan
                              "
                              name="action_plan">
                            </editor>
                          </p-fieldset>

                          <p-fieldset legend="Attached Files" [toggleable]="true">
                            <div class="card">
                              <div class="card-header">Attached Files</div>
                              <ul class="list-group list-group-flush">
                                <li
                                  *ngFor="let file of fileInfos | async"
                                  class="list-group-item"
                                >
                                  <a href="{{ file.url }}">{{ file.name }}</a>
                                </li>
                              </ul>
                            </div>
                          </p-fieldset>
                        </p-tabPanel>

                      </p-tabView>
                    </div>
                  </td>
                </tr>
              </ng-template>


              <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                  In total there are {{ audits ? audits.length : 0 }} findings.
                </div>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>


<p-dialog
[(visible)]="auditRemarkDialog"
[style]="{ width: '800px' }"
header="Remarks"
[modal]="true"
styleClass="p-fluid"
[maximizable]="true"
>
<ng-template pTemplate="content">
  <app-remark-branch-audit
    [branchFinancialAudit]="audit_remark"
  ></app-remark-branch-audit>
</ng-template>
</p-dialog>
