<main id="main" class="main">
  <p-toast></p-toast>
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/"><i class="bi bi-house-door"></i></a>
        </li>
        <li class="breadcrumb-item active">Negotiable Stock Item Finding</li>
        <li></li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <p-card>
          <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
              <button
                pButton
                pRipple
                label="New"
                icon="pi pi-plus"
                class="p-button-raised p-button-rounded p-mr-2"
                (click)="openNew()"
              ></button>
            </ng-template>

            <ng-template pTemplate="right"> </ng-template>
          </p-toolbar>

          <p-table
            #dt
            [value]="audits"
            [rows]="10"
            [paginator]="true"
            [loading]="loading"
            [globalFilterFields]="[
                         'case_number',
              'negotiableInstrument.account_holder',
              'negotiableInstrument.account_number',
              'negotiableInstrument.printed_date',
              'negotiableInstrument.amount',
              'negotiableInstrument.difference',
              'negotiableInstrument.category',
              'negotiableInstrument.ck_type',
              'negotiableInstrument.ck_range',
              'negotiableInstrument.quantity',
              'negotiableInstrument.unit_price',
              'negotiableInstrument.trial_balance',
              'negotiableInstrument.action_taken',
              'negotiableInstrument.cash_type',
              'negotiableInstrument.fcy'
            ]"
            [(selection)]="selectedAudits"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
          >
            <ng-template pTemplate="caption">
              <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Findings</h5>
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    #searchData
                    type="text"
                    (input)="dt.filterGlobal(searchData.value, 'contains')"
                    placeholder="Search..."
                  />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>
                  <div class="flex justify-content-center align-items-center">
                    StoStock Type
                    <p-columnFilter
                      type="text"
                      field="stock_type"
                      display="menu"
                    ></p-columnFilter>
                  </div>
                </th>

                <th>
                  <div class="flex justify-content-center align-items-center">
                    Audit Type
                    <p-columnFilter
                      type="text"
                      field="audit_type"
                      display="menu"
                    ></p-columnFilter>
                  </div>
                </th>

                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-audit>
              <tr>
                <td>{{ audit.stock_type }}</td>

                <td>{{ audit.audit_type }}</td>
                <td>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-success p-mr-2"
                    (click)="editAudit(audit)"
                  ></button>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-warning p-mr-2"
                    (click)="deleteAudit(audit)"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </div>
    </div>
  </section>
</main>

<p-dialog
  [(visible)]="auditEditDialog"
  [style]="{ width: '450px' }"
  header="Stock Items"
  [modal]="true"
  styleClass="p-fluid"
  [maximizable]="true"
>
  <ng-template pTemplate="content">
    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="text">StoStock Type </label>
        <input
          type="text"
          pInputText
          id="text"
          [(ngModel)]="audit.stock_type"
        />
      </div>
    </div>
    <div class="p-formgrid p-grid">
      <div class="p-field-radiobutton p-col-6">
        <p-radioButton
          id="branch_audit"
          name="audit_type"
          value="branch_audit"
          [(ngModel)]="audit.audit_type"
        ></p-radioButton>
        <label for="branch_audit"> Branch Financial Audit</label>
      </div>
      <div class="p-field-radiobutton p-col-6">
        <p-radioButton
          id="inspection_audit"
          name="audit_type"
          value="inspection_audit"
          [(ngModel)]="audit.audit_type"
        ></p-radioButton>
        <label for="inspection_audit">Inspection Audit</label>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveOperationalCategory()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>


