<div class="area">
  <p-toast></p-toast>

  <main>
    <div class="container">
      <section
        class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div
              class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
            >
              <div class="card mb-3" style="z-index: 2">
                <div class="card-body">
                  <div class="pt-3 pb-2 text-center">
                    <a routerLink="/" class="card-title text-center pb-0 fs-3"
                      ><img
                        class="img-responsive text-center --login-logo"
                        src="assets/img/.png"
                        alt=" AFRFMS"
                        style="max-width: 100%; height: auto"
                    /></a>
                  </div>
                  <div class="pt-4">
                    <h5 class="card-title text-center pb-0 fs-4">
                      Change Password
                    </h5>
                  </div>
                  <div>
                    <form
                      name="form"
                      (ngSubmit)="password.form.valid && changePassword()"
                      #password="ngForm"
                      class="row g-3 p-fluid"
                      novalidate
                    >
                      <div class="col-11">
                        <label for="counter" class="text-center"
                          >Your identity has been successfully verified. We
                          recommend that you to change your password by using
                          strong combination of letters, numbers, and special
                          characters.</label
                        >
                      </div>

                      <div class="field p-col-11 p-ml-2">
                        <label for="password">
                          <strong class="text-danger">* </strong>Password</label
                        >
                        <p-password
                          [(ngModel)]="passwordData.password"
                          #password1="ngModel"
                          name="password"
                          [class.is-invalid]="
                            (password1.invalid &&
                              password1.touched &&
                              confirmPassword.touched) ||
                            passwordData.confirmPassword !==
                              passwordData.password
                          "
                          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$! %*? &])[A-Za-z\d$@$! %*? &]{8,}"
                          [required]="true"
                        >
                          <ng-template pTemplate="header">
                            <h6>Pick a password</h6>
                          </ng-template>
                          <ng-template pTemplate="footer">
                            <p-divider></p-divider>
                            <p class="mt-2">Suggestions</p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                              <li>At least one lowercase</li>
                              <li>At least one uppercase</li>
                              <li>At least one numeric</li>
                              <li>Minimum 8 characters</li>
                            </ul>
                          </ng-template>
                        </p-password>
                      </div>

                      <div class="p-field p-col-11 p-ml-2">
                        <label for="confirmPassword">
                          <strong class="text-danger">* </strong>Confirm
                          Password</label
                        >
                        <p-password
                          [(ngModel)]="passwordData.confirmPassword"
                          #confirmPassword="ngModel"
                          name="confirmPassword"
                          [class.is-invalid]="
                            (confirmPassword.invalid &&
                              confirmPassword.touched) ||
                            (passwordData.confirmPassword !==
                              passwordData.password &&
                              password1.touched)
                          "
                          [feedback]="false"
                          [required]="true"
                          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$! %*? &])[A-Za-z\d$@$! %*? &]{8,}"
                        ></p-password>
                        <small
                          *ngIf="
                            confirmPassword.invalid &&
                            (password1.dirty || password1.touched) &&
                            confirmPassword.touched
                          "
                          class="text-danger d-block"
                        >
                          Please confirm your password.
                        </small>
                        <small
                          *ngIf="
                            passwordData.confirmPassword !==
                              passwordData.password &&
                            (confirmPassword.dirty || confirmPassword.touched)
                          "
                          class="text-danger d-block"
                        >
                          Passwords do not match.
                        </small>
                      </div>

                      <div *ngIf="!loading" class="col-12 text-center">
                        <button
                          [disabled]="
                            password.form.invalid ||
                            passwordData.confirmPassword !==
                              passwordData.password
                          "
                          class="btn btn-primary w-100"
                          type="submit"
                        >
                          Change Password
                        </button>
                      </div>
                      <div *ngIf="loading" class="col-12">
                        <button
                          class="btn btn-primary w-100"
                          type="button"
                          disabled
                        >
                          <span
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                          ></span>
                          Changing . . .
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
