<div class="area">
  <main>
    <p-toast></p-toast>
    <div class="container">
      <section
        class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div
              class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
            >
              <div class="card mb-3" style="z-index: 2">
                <div class="d-flex justify-content-center">
                  <a routerLink="/" class="d-flex align-items-center w-auto"
                    ><img
                      class="w-100 text-center --login-logo"
                      src="assets/img/__Final_logo.jpg"
                      alt="  AFRFMS"
                    />
                  </a>
                </div>
                <div
                  class="card-body"
                  *ngIf="!emailSentCheck; else afterEmailSent"
                >
                  <div class="pb-2" style="margin-top: -10%">
                    <h5 class="card-title text-center pb-0 fs-4">
                      Reset your password
                    </h5>
                  </div>
                  <form
                    name="form"
                    (ngSubmit)="f.form.valid && onSubmit()"
                    #f="ngForm"
                    class="row g-3 p-fluid"
                    novalidate
                  >
                    <div class="col-11">
                      <label for="yourEmail" class="text-center"
                        >Enter your user account's verified email address or
                        phone number and we will send you password reset link or
                        OTP.</label
                      >
                    </div>
                    <div class="p-field p-col-8">
                      <label class="p-ml-2"
                        ><strong class="text-danger">* </strong>Reset
                        Media</label
                      >
                      <p-selectButton
                        [options]="authenthicationOptions"
                        [(ngModel)]="form.authenthication_media"
                        optionLabel="label"
                        optionValue="value"
                        name="authenthication_media"
                        [required]="true"
                        styleClass="p-ml-2"
                      >
                        <ng-template let-item>
                          <i [class]="item.icon"></i> </ng-template
                      ></p-selectButton>
                    </div>
                    <div
                      class="p-field p-col-11 p-ml-2"
                      style="margin-top: -6%"
                      *ngIf="!form.authenthication_media"
                    >
                      <label for="phone_number">
                        <strong class="text-danger">* </strong>Phone
                        Number</label
                      >
                      <input
                        type="tel"
                        #phone_number="ngModel"
                        [class.is-invalid]="
                          phone_number.invalid && phone_number.touched
                        "
                        pInputText
                        pattern="(\+251|0)(9|7)\d{8}"
                        id="phone_number"
                        [(ngModel)]="form.phone_number"
                        name="phone_number"
                        required="true"
                      />

                      <div *ngIf="phone_number.errors && phone_number.touched">
                        <small
                          class="text-danger"
                          *ngIf="phone_number.errors['required']"
                          >Phone number is required</small
                        >
                        <small
                          class="text-danger"
                          *ngIf="phone_number.errors['pattern']"
                          >Phone number not valid or should start with +251, 09
                          or 07</small
                        >
                      </div>
                    </div>

                    <div
                      *ngIf="form.authenthication_media"
                      class="p-field p-col-12 p-ml-2"
                      style="margin-top: -6%"
                    >
                      <label for="email">
                        <strong class="text-danger">* </strong>Outlook
                        Address</label
                      >
                      <input
                        type="text"
                        #email="ngModel"
                        [class.is-invalid]="email.invalid && email.touched"
                        pInputText
                        id="email"
                        [(ngModel)]="form.email"
                        name="email"
                        required="true"
                        pattern="\w+@\.com$"
                      />
                      <div *ngIf="email.errors && email.touched">
                        <small
                          class="text-danger"
                          *ngIf="email.errors['required']"
                          >Outlook Address is required</small
                        >
                        <small
                          class="text-danger"
                          *ngIf="email.errors['pattern']"
                          >Outlook Address should end with
                          '@.com'</small
                        >
                      </div>
                    </div>
                    <div *ngIf="!loading" class="col-12 text-center">
                      <button
                        [disabled]="f.form.invalid"
                        class="btn btn-primary w-100"
                        type="submit"
                      >
                        Send password reset
                      </button>
                    </div>
                    <div *ngIf="loading" class="col-12">
                      <button
                        class="btn btn-primary w-100"
                        type="button"
                        disabled
                      >
                        <span
                          class="spinner-border spinner-border-sm"
                          role="status"
                          aria-hidden="true"
                        ></span>
                        Sending password reset . . .
                      </button>
                    </div>
                  </form>
                </div>
                <!-- After the email is entered -->
                <ng-template #afterEmailSent>
                  <app-password-reset-otp
                    class="text-center"
                    [passedData]="form.phone_number"
                    (outputData)="onDataChange()"
                  ></app-password-reset-otp>
                  <!-- <div class="card-body">
                    <div class="pt-4 pb-2">
                      <h5
                        *ngIf="form.authenthication_media"
                        class="card-title pb-0 fs-4"
                      >
                        A reset link is sent to
                        <i>{{ form.email }}</i>
                      </h5>

                      <h5
                        *ngIf="!form.authenthication_media"
                        class="card-title pb-0 fs-4"
                      >
                        A password is sent to <i>{{ form.phone_number }}</i>
                      </h5>
                    </div>
                    <div class="row g-3">
                      <div class="col-12">
                        <label
                          *ngIf="form.authenthication_media"
                          for="yourEmail"
                          class="form-label"
                          >Please check upon your email to continue resetting
                          your password.</label
                        >
                        <label
                          *ngIf="!form.authenthication_media"
                          for="phone"
                          class="form-label"
                          >Please check upon your phone number to get your
                          password.</label
                        >
                      </div>
                      <div class="col-12 text-center">
                        <button
                          class="btn btn-success w-100"
                          (click)="goHome()"
                        >
                          Back to home
                        </button>
                      </div>
                    </div>
                  </div> -->
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
