<form ngNativeValidate #auditForm="ngForm" class="p-fluid">
  <div class="p-field">
    <label class="p-mb-3"><strong class="text-danger">*</strong> Banking</label>
    <div class="p-formgrid p-grid">
      <div class="p-field-radiobutton p-col-3">
        <p-radioButton
          id="conventional"
          name="banking"
          value="conventional"
          (onClick)="changeBanking($event.value)"
          [(ngModel)]="auditData.banking"
        ></p-radioButton>
        <label for="conventional">Conventional</label>
      </div>
      <div class="p-field-radiobutton p-col-3">
        <p-radioButton
          id="ifb"
          name="banking"
          value="ifb"
          [(ngModel)]="auditData.banking"
          (onClick)="changeBanking($event.value)"
        ></p-radioButton>
        <label for="ifb">IFB</label>
      </div>
    </div>
  </div>

  <div class="p-field">
    <label for="amount" class="p-mb-3 text-primary">Do you need common findings or recommendations?</label>
    <div class="form-check form-switch">
      <p-inputSwitch
        [(ngModel)]="is_table"
        name="is_table"
        (click)="checkTable()"
      ></p-inputSwitch>
    </div>
  </div>

  <div class="p-field">
    <label for="finding"><strong class="text-danger">*</strong> Finding</label>
    <p-dropdown
      *ngIf="!is_new_finding"
      [options]="commonFindings"
      [(ngModel)]="auditData.finding"
      optionLabel="content"
      optionValue="content"
      [filter]="true"
      [editable]="true"
      name="finding"
      styleClass="w-100"
      filterBy="content"
      [showClear]="true"
      placeholder="Select a finding"
      (onChange)="onChangeFindingDropdown($event.value)"
      [required]="true"
    >
      <ng-template pTemplate="selectedItem">
        <div *ngIf="auditData.finding">
          <div [innerHTML]="auditData.finding"></div>
        </div>
      </ng-template>
      <ng-template let-commonfinding pTemplate="item">
        <ng-container
          *ngIf="
            commonfinding.content.includes('New Finding');
            else writtenFinding
          "
          class="row"
        >
          <button
            pButton
            pRipple
            label="New Finding?"
            icon="pi pi-plus"
            class="p-button-raised p-button-rounded col-md-6"
          ></button>
        </ng-container>
        <ng-template #writtenFinding>
          <div [innerHTML]="commonfinding.content"></div>
        </ng-template>
      </ng-template>
    </p-dropdown>

    <div *ngIf="is_new_finding">
      <ckeditor
        #finding="ngModel"
        name="finding"
        [(ngModel)]="auditData.finding"
        [class.is-invalid]="finding.invalid || finding.touched"
         [editor]="findingEditor"
[config]="config"
        [required]="true"
        (ready)="changeFinding($event, auditData)"
      ></ckeditor>
      <small
        class="text-danger"
        [class.d-none]="finding.dirty || finding.untouched"
        >Finding is required<br
      /></small>
      <small
        class="text-danger"
        [class.d-none]="finding.valid || finding.untouched"
        >Finding is required</small
      >
    </div>
  </div>

  <div class="p-field">
    <label for="finding_detail"> Finding Detail </label>
    <ckeditor
      #finding_detail="ngModel"
      [(ngModel)]="auditData.finding_detail"
      name="finding_detail"
            [editor]="impactEditor"
[config]="config"
    ></ckeditor>
  </div>

  <div class="p-field">
    <label for="impact"><strong class="text-danger">*</strong> Impact</label>
    <ckeditor
      #impact="ngModel"
      [(ngModel)]="auditData.impact"
      name="impact"
      [class.is-invalid]="impact.invalid && impact.touched"
            [editor]="impactEditor"
[config]="config"
      (ready)="changeImpact($event, auditData)"
      [required]="true"
    ></ckeditor>
    <small
      class="text-danger"
      [class.d-none]="impact.untouched || impact.dirty || impact.valid"
      >Impact is required<br
    /></small>
    <small class="text-danger" [class.d-none]="impact.valid || impact.untouched"
      >Impact is required</small
    >
  </div>

  <div class="p-field">
    <label for="recommendation"
      ><strong class="text-danger">*</strong> Recommendation</label
    >

    <p-dropdown
      *ngIf="!is_new_recommendation"
      [options]="commonRecommendations"
      [(ngModel)]="auditData.recommendation"
      optionLabel="content"
      optionValue="content"
      [filter]="true"
      [editable]="true"
      styleClass="w-100"
      name="recommendation"
      filterBy="content"
      [showClear]="true"
      placeholder="Select a recommendation"
      (onChange)="onChangeRecommendationDropdown($event.value)"
      [required]="true"
    >
      <ng-template pTemplate="selectedItem">
        <div *ngIf="auditData.recommendation">
          <div [innerHTML]="auditData.recommendation"></div>
        </div>
      </ng-template>
      <ng-template let-commonRecommendation pTemplate="item">
        <ng-container
          *ngIf="
            commonRecommendation.content.includes('New Recommendation');
            else writtenRecommendation
          "
          class="row"
        >
          <button
            pButton
            pRipple
            label="New Recommendation?"
            icon="pi pi-plus"
            class="p-button-raised p-button-rounded col-md-8"
          ></button>
        </ng-container>
        <ng-template #writtenRecommendation>
          <div [innerHTML]="commonRecommendation.content"></div>
        </ng-template>
      </ng-template>
    </p-dropdown>
    <div *ngIf="is_new_recommendation">
      <ckeditor
        #recommendation="ngModel"
        [(ngModel)]="auditData.recommendation"
        [class.is-invalid]="recommendation.invalid && recommendation.touched"
        name="recommendation"
        required="true"
        [editor]="recommendationEditor"
[config]="config"
        (ready)="changeRecommendation($event, auditData)"
      ></ckeditor>
      <small
        class="text-danger"
        [class.d-none]="recommendation.dirty || recommendation.untouched"
        >Recommendation is required<br
      /></small>
      <small
        class="text-danger"
        [class.d-none]="recommendation.valid || recommendation.untouched"
        >Recommendation is required</small
      >
    </div>
  </div>

  <div class="p-field">
    <label class="p-mb-3"
      ><strong class="text-danger">*</strong>Account Type</label
    >
    <div class="p-formgrid p-grid">
      <div class="p-field-radiobutton p-col-6">
        <p-radioButton
          id="active"
          name="account_type"
          value="Inactive/Dormant"
          (onClick)="changeAccountType($event.value, auditData)"
          [(ngModel)]="auditData.dormantInactive!.account_type"
          name="account_type"
        ></p-radioButton>
        <label for="lcy">Inactive/Dormant</label>
      </div>
    </div>
  </div>

  <div class="p-field p-col-10">
    <label for="customer_name" class="block"
      ><strong class="text-danger">*</strong>Customer Name</label
    >
    <input
      id="customer_name"
      type="text"
      aria-describedby="customer_name-help"
      [(ngModel)]="auditData.dormantInactive!.acount_name"
      name="account_name"
      pInputText
      #customerName="ngModel"
      [class.is-invalid]="customerName.invalid && customerName.touched"
      [required]="true"
    />
    <small
      class="text-danger"
      [class.d-none]="customerName.valid || customerName.untouched"
    >
      Customer name is required<br
    /></small>
  </div>
  <div class="p-field">
    <label class="p-mb-3">
      <strong class="text-danger">*</strong>Currency Type</label
    >
    <div class="p-formgrid p-grid">
      <div class="p-field-radiobutton p-col-3">
        <p-radioButton
          id="LCY"
          name="cash_type"
          value="LCY"
          (onClick)="changeCashType($event.value, auditData)"
          [(ngModel)]="auditData.dormantInactive!.cash_type"
        ></p-radioButton>
        <label for="LCY">LCY</label>
      </div>
      <div class="p-field-radiobutton p-col-3">
        <p-radioButton
          id="FCY"
          name="cash_type"
          value="FCY"
          [(ngModel)]="auditData.dormantInactive!.cash_type"
          (onClick)="changeCashType($event.value, auditData)"
        ></p-radioButton>
        <label for="FCY">FCY</label>
      </div>
      <div *ngIf="is_fcy" class="p-field p-col-6">
        <label for="currency_code"
          ><strong class="text-danger">*</strong>Currency</label
        >
        <p-dropdown
          [options]="currency"
          [(ngModel)]="auditData.dormantInactive!.fcy"
          optionLabel="currency_code"
          optionValue="currency_code"
          [filter]="true"
          [editable]="true"
          styleClass="w-100"
          name="currency_code"
          filterBy="currency_code"
          [showClear]="true"
          placeholder="Select a Currency"
          [required]="true"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="auditData.dormantInactive?.fcy">
              <div>{{ auditData.dormantInactive?.fcy }}</div>
            </div>
          </ng-template>
          <ng-template let-curr pTemplate="item">
            {{ curr.currency_code }}
          </ng-template>
        </p-dropdown>
      </div>
    </div>
  </div>
  <div class="p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="account_number" class="block"><strong class="text-danger">*</strong>Account Number</label>
      <input
        id="account_number"
        type="text"
        aria-describedby="account_number-help"
        [(ngModel)]="auditData.dormantInactive!.account_number"
        name="account_number"
        pInputText
        #accountNumber="ngModel"
        pattern="[A-Za-z0-9]{14,}"
        [class.is-invalid]="accountNumber.invalid && accountNumber.touched"
        [required]="true"
      />
      <div
        *ngIf="
          accountNumber.errors && accountNumber.invalid && accountNumber.touched
        "
      >
        <small
          class="text-danger"
          [class.d-none]="accountNumber.valid || accountNumber.untouched"
        >
          Account number is required<br
        /></small>
        <small class="text-danger" *ngIf="accountNumber.errors['pattern']">
          Invalid Account number</small
        >
      </div>
    </div>

    <div class="p-field p-col">
      <label for="account_opened_amount"
        ><strong class="text-danger">*</strong>Amount Withdraw</label
      >
      <p-inputNumber
        [(ngModel)]="auditData.dormantInactive!.amount"
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="horizontal"
        spinnerMode="horizontal"
        [step]="0.25"
        decrementButtonClass="p-button-secondary"
        incrementButtonClass="p-button-success"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        name="amount"
        #accountOpenedAmount="ngModel"
        [class.is-invalid]="
          accountOpenedAmount.invalid && accountOpenedAmount.touched
        "
        [required]="true"
      >
      </p-inputNumber>
      <small
        class="text-danger"
        [class.d-none]="
          accountOpenedAmount.valid || accountOpenedAmount.untouched
        "
      >
        Account oppened amount is required<br
      /></small>
    </div>
  </div>

  <div class="p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="float-input-invalid"
        ><strong class="text-danger">*</strong>Passed By</label
      >
      <input
        id="float-input-invalid"
        type="text"
        pInputText
        [(ngModel)]="auditData.dormantInactive!.entry_passed_by"
        name="entry_passed_by"
        #entryPassedBy="ngModel"
        [class.is-invalid]="entryPassedBy.invalid && entryPassedBy.touched"
        [required]="true"
      />

      <small
        class="text-danger"
        [class.d-none]="entryPassedBy.valid || entryPassedBy.untouched"
      >
        Passed By is is required<br
      /></small>
    </div>
    <div class="p-field p-col">
      <label for="float-input-invalid"
        ><strong class="text-danger">*</strong>Approved By</label
      >
      <input
        id="float-input-invalid"
        type="text"
        pInputText
        [(ngModel)]="auditData.dormantInactive!.entry_approved_by"
        name="entry_approved_by"
        #entryApprovedBy="ngModel"
        [class.is-invalid]="entryApprovedBy.invalid && entryApprovedBy.touched"
        [required]="true"
      />

      <small
        class="text-danger"
        [class.d-none]="entryApprovedBy.valid || entryApprovedBy.untouched"
      >
        Approved By is is required<br
      /></small>
    </div>
  </div>

  <div class="p-formgrid p-grid">
    <div class="p-field p-col">
      <label for="Date_of_account_Deactivated"
        ><strong class="text-danger">*</strong>Date of Activation</label
      >
      <p-calendar
        [showIcon]="true"
        [(ngModel)]="dateOfAccountDeactivated"
        id="deactivated_date"
        name="deactivated_date"
        [maxDate]="today"
        dataType="string"
        dateFormat="mm/dd/yy"
        #deactivatedDate="ngModel"
        [required]="true"
        [class.is-invalid]="deactivatedDate.invalid && deactivatedDate.touched"
      >
        <small
          class="text-danger"
          [class.d-none]="deactivatedDate.valid || deactivatedDate.untouched"
        >
          Account deactivated date is required<br />
        </small>
      </p-calendar>
    </div>
    <div class="p-field p-col">
      <label for="finding_date"
        ><strong class="text-danger">*</strong>Date of Descripancy</label
      >

      <p-calendar
        [showIcon]="true"
        [(ngModel)]="dateOfDescripancy"
        id="loan_disbursed"
        name="finding_date"
        [maxDate]="today"
        dataType="string"
        dateFormat="mm/dd/yy"
        #descDate="ngModel"
        [required]="true"
        [class.is-invalid]="descDate.invalid && descDate.touched"
      >
        <small
          class="text-danger"
          [class.d-none]="descDate.valid || descDate.untouched"
        >
          Date of descripancy is required<br />
        </small>
      </p-calendar>
    </div>
  </div>

  <ul class="list-group col-md-12 mt-2">
    <div class="form-check form-switch">
      <p-inputSwitch
        [(ngModel)]="edit_auditee"
        (click)="changeEditAuditee()"
        name="edit_auditee"
      ></p-inputSwitch>
    </div>
    <li class="list-group-item ml-1" *ngIf="edit_auditee">
      <app-file-upload (dataChange)="onDataChange($event)"></app-file-upload>
    </li>
  </ul>

  <div class="p-formgrid p-grid mt-4">
    <div class="p-field p-col-2">
      <button
      *ngIf="!loading"
        pButton
        pRipple
        label="Save"
        [disabled]="
          auditForm.form.invalid ||
          !finding_valid ||
          !recommendation_valid ||
          !impact_valid ||
          !cash_type_valid ||
          !banking
        "
        icon="pi pi-check"
        class="p-button-raised p-button-rounded"
        (click)="saveAudit()"></button>
      <button *ngIf="loading" type="button" disabled class="btn btn-primary">
        Loading...
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"></span>
      </button>
    </div>
    <div class="p-field p-col-2">
      <button
        class="col-md-3"
        pButton
        pRipple
        type="reset"
        label="Reset"
        icon="pi pi-times"
        class="p-button-raised p-button-danger p-button-rounded"
      ></button>
    </div>
  </div>
</form>
